<section class="footer02 cid-rZqasE8Bhf" once="footers" id="footer02-f">





    <div class="container">

        <div class="row mbr-white justify-content-center">
            {% if user is not None %}
                <a class="col-2" style="text-align: left!important;" onclick="remove()"><p class="small text-info p-o m-0">Удалить аккаунт</p></a>
                <span class="col-9"></span>
            {% endif %}
            <div class="col-12 copyright mbr-flex">

            </div>


            <div class="col-12">


                <p class="mbr-text align-center mbr-fonts-style align-left display-4">© Разработка сайта. Есина М.В., 2020 <a href="https://m.electis.ru/" target="_blank">m.electis.ru</a> &nbsp;- все права защищены</p>
            </div>


        </div>

    </div>
</section>
<script type='text/javascript'>
(function () {
    window['yandexChatWidgetCallback'] = function() {
        try {
            window.yandexChatWidget = new Ya.ChatWidget({
                guid: '7370ee09-c110-9670-41c8-975935676c74',
                buttonText: 'Чат с помощником',
                title: 'Чат',
                theme: 'light',
                collapsedDesktop: 'never',
                collapsedTouch: 'always'
            });
        } catch(e) { }
    };
    var n = document.getElementsByTagName('script')[0],
        s = document.createElement('script');
    s.async = true;
    s.charset = 'UTF-8';
    s.src = 'https://yastatic.net/s3/chat/widget.js';
    n.parentNode.insertBefore(s, n);
})();
</script>