<section class="footer02 cid-rZqasE8Bhf" once="footers" id="footer02-f">





    <div class="container">

        <div class="row mbr-white justify-content-center">
            {% if user is not None %}
                <div class="col-3">
                    <span class="small text-info p-o m-0 cursor_pointer" style="text-align: left!important;" onclick="remove()">Удалить аккаунт</span>
                </div>

                <span class="col-8"></span>
            {% endif %}
            <div class="col-12 copyright mbr-flex">

            </div>


            <div class="col-12">


                <p class="mbr-text align-center mbr-fonts-style align-left display-4">© Разработка сайта. Есина М.В., 2020 <a href="https://diceshard.ru/" target="_blank">m.electis.ru</a> &nbsp;- все права защищены</p>
            </div>


        </div>

    </div>
</section>

{#chat#}

<script>
    (function(d, w, c) {
        w.ChatraID = 'cDZrv6YqpPeXFBio3';
        var s = d.createElement('script');
        w[c] = w[c] || function() {
            (w[c].q = w[c].q || []).push(arguments);
        };
        s.async = true;
        s.src = 'https://call.chatra.io/chatra.js';
        if (d.head) d.head.appendChild(s);
    })(document, window, 'Chatra');
</script>