<section class="content02 cid-s8WcjG7jJB" id="content02-o">




    <div class="container">
        <div class="row">
            <div class="card col-12 col-md-12">
                <div class="wrapper align-left">
                    <h3 class="mbr-section-title mbr-bold align-left mbr-fonts-style display-2"><span></span><span>Регистрация</span>&nbsp;в личном кабинете</h3>



                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section extForm cid-s8WclkVp1k" id="extForm2-p">




   <div class="container">
        <div class="media-container-row">
            <div class="col-md-6 col-lg-6 block-content">
                <div class="form-block">
                    <div class="bg"></div>
                    <div class="form-wrap" data-form-type="formoid">
<!--Formbuilder Form-->

<form action="" method="POST" class="mbr-form form-with-styler" data-form-title="Mobirise Form"><input type="hidden" name="email" data-form-email="true" value="nqIt6YAv0WZB/10gA1YgWVDRPakF1WDcji0WpDFLCXxnbiBoX7Pz7m5o7lzoWGdc/d3f3gQIuA4jyY6bKc7sB/5C7twBiygycpaAp1EJP3uJrZwgvhCwGWJ2FkLDn1nl">
{% csrf_token %}
    <div class="form-row mt-3">
<div hidden="hidden" data-form-alert="" class="alert alert-success col-12"></div>
    {% if form.errors.custom %}
        <div class="alert alert-warning col-12 rounded">
            <span class="mbr-fonts-style subtext display-4 text-light">{{ form.errors.custom }}</span>
        </div>
    {% endif %}
</div>
<div class="dragArea form-row">
<div class="col-lg-12 col-md-12 col-sm-12 form-group">
<div class="form-row">
<div class="col">
    {{ form.firstname }}
    {% if form.firstname.errors %}
        <div class="alert alert-warning col-12 rounded p-0 m-0">
            <span class="mbr-fonts-style subtext display-4 text-light p-0 m-0">{{ form.firstname.errors }}</span>
        </div>
    {% endif %}
</div>
<div class="col">
    {{ form.lastname }}
    {% if form.lastname.errors %}
        <div class="alert alert-warning col-12 rounded p-0 m-0">
            <span class="mbr-fonts-style display-4 text-light p-0 m-0">{{ form.lastname.errors }}</span>
        </div>
    {% endif %}
</div>
</div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="phone">
    {{ form.phone }}
    {% if form.phone.errors %}
        <div class="alert alert-warning col-12 rounded p-0 m-0">
            <span class="mbr-fonts-style subtext display-4 text-light p-0 m-0">{{ form.phone.errors }}</span>
        </div>
    {% endif %}
</div>
<div data-for="login" class="col-lg-12 col-md-12 col-sm-12 form-group">
    {{ form.email }}
    {% if form.email.errors %}
        <div class="alert alert-warning col-12 rounded p-0 m-0">
            <span class="mbr-fonts-style subtext display-4 text-light p-0 m-0">{{ form.email.errors }}</span>
        </div>
    {% endif %}
</div>
<div class="col-lg-12 col-md-12 col-sm-12 form-group">
<div class="form-control-label">
</div>
<div data-for="Подтверждаю, что мне уже есть 18 лет" class="form-check form-check-inline">
    {{ form.ageconfirm }}
    {% if form.ageconfirm.errors %}
        <div class="alert alert-warning col-12 rounded p-0 m-0">
            <span class="mbr-fonts-style subtext display-4 text-light p-0 m-0">{{ form.ageconfirm.errors }}</span>
        </div>
    {% endif %}
<label for="ageconfirm-extForm2-p" class="form-check-label display-7">Подтверждаю, что мне уже есть 18 лет</label>
</div>
</div>
<div class="col-md-12 input-group-btn mt-2">
<button type="submit" class="btn btn-primary btn-form btn-bgr display-4">Подтвердить</button>
</div>
</div>
</form><!--Formbuilder Form-->
</div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="text-block">

                    <h3 class="mbr-section-subtitle mbr-fonts-style mb-4 display-5">У Вас уже есть учётная запись в личном кабинете? <br>Тогда просто войдите!</h3>

                    <div class="mbr-section-btn mb-5"><a class="btn btn-md btn-bgr btn-success display-4" href="/login" target="_blank">Войти</a>
                    <a class="btn btn-md btn-bgr btn-info-outline display-4" href="/reset">Забыл логин или пароль</a></div>
                </div>
                <p class="mb-4 mbr-fonts-style subtext display-4">*Мы никому не передаеём Вашу личную информацию. Ознакомьтесь с нашей политикой конфиденциальности для получения дополнительной информации.</p>
            </div>
        </div>
    </div>
</section>