
<section class="content02 cid-s8W7Ok1cDw" id="content02-n">




    <div class="container">
        <div class="row">
            <div class="card col-12 col-md-12">
                <div class="wrapper align-left">
                    <h3 class="mbr-section-title mbr-bold align-left mbr-fonts-style display-2"><span>Сброс</span>&nbsp;<span>пароля</span></h3>



                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section extForm cid-s8W7lwQa7y" id="extForm2-m">




   <div class="container">
        <div class="media-container-row">
            <div class="col-md-6 col-lg-6 block-content mb-5">
                <div class="form-block">
                    <div class="bg"></div>
                    <div class="form-wrap" data-form-type="formoid">
<!--Formbuilder Form-->
<form action="" method="POST" class="mbr-form form-with-styler" data-form-title="Mobirise Form"><input type="hidden" name="email" data-form-email="true" value="SWwCdaILHwl1DJ2p2WRRV5TYZX0VJgKWN/aJNyCu2s0T+usiO0hxrXsZwP/2fR5gsIMEtdz/ZKMgBewbNCtC/CUnl5kdSbR0H0I/DEoZ+jsauOd9sW1K/JY3+Of+FYer">
{% csrf_token %}
    <div class="form-row">
<div hidden="hidden" data-form-alert="" class="alert alert-success col-12"></div>
{#<div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">#}
    {% if form.errors.custom %}
        <div class="alert alert-warning col-12 rounded p-0 m-0">
            <span class="mbr-fonts-style display-4 text-light p-0 m-0">{{ form.errors.custom }}</span>
        </div>
    {% endif %}
</div>
<div class="dragArea form-row">
<div class="col-md-12">
<h4 class="mbr-fonts-style mb-4 mbr-fonts-style display-5">Введите адрес электронной почты, который Вы указали при регистрации</h4>
</div>
<div class="col-md-12 form-group" data-for="email">
    {{ form.email }}
    {% if form.email.errors %}
        <div class="alert alert-warning col-12 rounded p-0 m-0">
            <span class="mbr-fonts-style subtext display-4 text-light p-0 m-0">{{ form.email.errors }}</span>
        </div>
    {% endif %}
</div>

<div class="col-md-12 input-group-btn mt-2"><button type="submit" class="btn btn-primary btn-form btn-bgr display-4">Продолжить</button></div>
</div>
</form><!--Formbuilder Form-->
</div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="text-block">

                    <h3 class="mbr-section-subtitle mbr-fonts-style mb-4 display-5">Не помните email, который указали при регистрации?<br><br>Или нет доступа к почте, указанной при регистрации?<br><br><b>Тогда свяжитесь с нами через форму обратной связи в контактах на главной странице.</b></h3>

                    <div class="mbr-section-btn mb-5"><a class="btn btn-md btn-bgr btn-success display-4" href="/#feedback-label">Обратная связь</a></div>
                </div>
                <p class="mb-5 mbr-fonts-style subtext display-4 pt-1">*Мы никому не передаеём Вашу личную информацию.</p>
            </div>
        </div>
    </div>
</section>