<section class="menu2 menu cid-s8RxysMMT7" once="menu" id="menu2-i">




    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="navbar-brand">
            <span class="navbar-logo">
                <a href="/">
                    <img src="/assets/images/atorop_logo.png" alt="" style="height: 4rem;">
                </a>
            </span>
{#            <span class="navbar-caption-wrap"><a class="navbar-caption text-primary display-5" href="/">ДВИЖЕНИЕ ВВЕРХ</a></span>#}
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                <li class="nav-item dropdown">
                    <a class="nav-link link text-white dropdown-toggle display-7" href="#" data-toggle="dropdown-submenu" aria-expanded="true">
{#                    <a class="nav-link link text-white dropdown-toggle display-7" href="/#content01-1b">#}
                        Кто ведёт</a>
                    <div class="dropdown-menu">
                        <a class="text-white dropdown-item text-primary display-7" href="/#content01-1b">О себе</a>
                        <a class="text-white dropdown-item text-primary display-7" href="/book">Книга</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link link text-white dropdown-toggle display-7" href="#" data-toggle="dropdown-submenu" aria-expanded="true">
                        Обучение</a>
                    <div class="dropdown-menu">
                        <a class="text-white dropdown-item text-primary display-7" href="/#accordion02-a">Программа</a>
                        <a class="text-white dropdown-item text-primary display-7" href="/#testimonials01-b">Отзывы</a><a class="text-white dropdown-item text-primary display-7" href="/#accordion01-a">FAQ</a>
                    </div>

                </li>
            <li class="nav-item">
                    <a class="nav-link link text-white text-primary display-7" href="/#accordion03-a">
                        Марафоны</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-white text-primary display-7" href="/#map02-d">
                        Контакты</a>
                </li>
            {% if user is not None %}
                <li class="nav-item">
                    <a class="nav-link link text-white text-primary display-7" href="/me">
                        Мои марафоны</a>
                </li>
            {% endif %}
            {% if user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link link text-white text-primary display-7 " href="/admin_panel" target="_blank"><span class="fa fa-awesome fa-gears display-5 text-light"></span></a>
                </li>
            {% endif %}
            </ul>



{#        {% if user is not None %}#}
{#            <div class="icons-menu">#}
{#                <div class="soc-item">#}
{#                    <a href="/me">#}
{#                        <span class="mbr-iconfont mobi-mbri-user-2 mobi-mbri p-o m-0"></span>#}
{#                        <span class="nav-link link text-white text-primary display-7">Мои курсы</span>#}
{#                    </a>#}
{#                </div>#}
{#        {% endif %}#}
{#            </div>#}
            <div class="navbar-buttons mbr-section-btn">
                {% if user is not None %}
                    <a class="btn btn-sm btn-success-outline display-4" href="/logout">Выйти</a>
                {% else %}
                    <a class="btn btn-sm btn-success-outline display-4" href="/login">Войти</a>
                {% endif %}
            </div>
        </div>
    </nav>
</section>