<!DOCTYPE html>
<html  lang="ru">
<head>
  
  {% include "includes/meta.html" %}
  
  
  <title>"Движение Вверх" марафон - Личный кабинет</title>
  <link rel="stylesheet" href="/assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="/assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="/assets/tether/tether.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/assets/facebook-plugin/style.css">
  <link rel="stylesheet" href="/assets/dropdown/css/style.css">
  <link rel="stylesheet" href="/assets/animatecss/animate.min.css">
  <link rel="stylesheet" href="/assets/formstyler/jquery.formstyler.css">
  <link rel="stylesheet" href="/assets/formstyler/jquery.formstyler.theme.css">
  <link rel="stylesheet" href="/assets/datepicker/jquery.datetimepicker.min.css">
  <link rel="stylesheet" href="/assets/socicon/css/styles.css">
  <link rel="stylesheet" href="/assets/theme/css/style.css">
  <link rel="stylesheet" href="/assets/recaptcha.css">

  <link rel="preload" as="style" href="/assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="/assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  <style>
    @media(max-width: 1445px){
        .custom-close {
            top: -15vh!important;
        }}
  </style>


</head>
<body>
  
 {% include "includes/nav.html" %}

<section class="title01 cid-s8Wt9NDSGZ mbr-parallax-background" id="title01-s">

    

    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(6, 24, 45);"></div>

    <div class="align-center container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="icon-wrap">
                </div>
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-5">
                    Добро пожаловать, {{ user.get_full_name }}!</h1>
            </div>
        </div>

    </div>

</section>

<!--<section class="extContent cid-s8X6rwmHeE" id="extContent21-18">-->

<!--    -->

<!--    -->

<!--    <div class="container">-->
<!--        -->

<!--        <div class="row">-->
<!--            <div class="col-md-4">-->
<!--                <p class="mbr-text mbr-fonts-style display-7">Building Age: 2 Years</p>-->

<!--            </div>-->

<!--            <div class="col-md-4">-->

<!--                <p class="mbr-text mbr-fonts-style display-7">Cooling: Central Cooling-->
<!--                </p>-->

<!--            </div>-->

<!--            <div class="col-md-4">-->

<!--                <p class="mbr-text mbr-fonts-style display-7">Sewer: Public/City-->
<!--                </p>-->

<!--            </div>-->

<!--            <div class="col-md-4">-->

<!--                <p class="mbr-text mbr-fonts-style display-7">Parking: Attached Garage-->
<!--                </p>-->

<!--            </div>-->

<!--            <div class="col-md-4">-->

<!--                <p class="mbr-text mbr-fonts-style display-7">Heating: Forced Air, Gas-->
<!--                </p>-->

<!--            </div>-->

<!--            -->

<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<!--<section class="accordion1 cid-s8X4aKDduM" id="accordion01-15">-->

<!--    -->

<!--    -->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-12 col-md-12 title-text">-->
<!--                <h3 class="mbr-section-title mbr-bold align-center mbr-fonts-style display-2">-->
<!--                    Вебинары&nbsp;<span>марафона</span></h3>-->
<!--                <h4 class="mbr-section-subtitle pb-1 align-center mbr-light mbr-fonts-style display-7">Здесь находятся все Ваши вебинары, а также вебинары, которые Вы можете приобрести, щёлкнув по соответствующей вкладке</h4>-->
<!--                -->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-lg-12">-->
<!--                <div id="bootstrap-accordion_15" class="panel-group accordionStyles accordion" role="tablist" aria-multiselectable="true">-->
<!--                    <div class="row">-->
<!--                        <div class="col-lg-12">-->
<!--                            -->
<!--                            <div class="card">-->
<!--                                <div class="card-header" role="tab" id="headingOne">-->
<!--                                    <a role="button" class="panel-title collapsed text-black pr-3" data-toggle="collapse" data-core="" href="#collapse1_15" aria-expanded="false" aria-controls="collapse1">-->

<!--                                        <h4 class="mbr-fonts-style display-7">Тема №1 "Название темы"<span class="toggle-icon inactive sign mbr-iconfont"></span>-->
<!--                                        </h4>-->

<!--                                    </a>-->
<!--                                </div>-->
<!--                                <div id="collapse1_15" class="panel-collapse noScroll collapse " role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_15">-->
<!--                                    <div class="panel-body">-->
<!--                                        <p class="mbr-fonts-style panel-text pr-2 display-4">-->
<!--                                            Aliquam purus sit amet luctus venenatis lectus magna fringilla urna. Egestas-->
<!--                                            congue quisque egestas diam in arcu cursus euismod.</p>-->
<!--                                        <iframe class="frame-video" src="https://www.youtube.com/embed/3jT_q7dt-cM" frameborder="0" allowfullscreen="">-->
<!--</iframe>-->
<!--                                        <iframe width="460" height="215" src="https://www.youtube.com/embed/3jT_q7dt-cM" frameborder="0" allowfullscreen="">-->
<!--</iframe>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="card">-->
<!--                                <div class="card-header" role="tab" id="headingTwo">-->
<!--                                    <a role="button" class="collapsed panel-title text-black pr-3" data-toggle="collapse" data-core="" href="#collapse2_15" aria-expanded="false" aria-controls="collapse2">-->
<!--                                        <h4 class="mbr-fonts-style display-7"><span class="toggle-icon inactive sign mbr-iconfont"></span>Тема №2 "Название темы"</h4>-->
<!--                                    </a>-->

<!--                                </div>-->
<!--                                <div id="collapse2_15" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#bootstrap-accordion_15">-->
<!--                                    <div class="panel-body">-->
<!--                                        <p class="mbr-fonts-style panel-text pr-2 display-4">-->
<!--                                            Aliquam purus sit amet luctus venenatis lectus magna fringilla urna. Egestas-->
<!--                                            congue quisque egestas diam in arcu cursus euismod.</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="card">-->
<!--                                <div class="card-header" role="tab" id="headingThree">-->
<!--                                    <a role="button" class="collapsed text-black panel-title pr-3" data-toggle="collapse" data-core="" href="#collapse3_15" aria-expanded="false" aria-controls="collapse3">-->
<!--                                        <h4 class="mbr-fonts-style display-7"><span class="toggle-icon inactive sign mbr-iconfont"></span>Тема №3</h4>-->
<!--                                    </a>-->
<!--                                </div>-->
<!--                                <div id="collapse3_15" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#bootstrap-accordion_15">-->
<!--                                    <div class="panel-body">-->
<!--                                        <p class="mbr-fonts-style panel-text pr-2 display-4"><strong>Нет доступа к темам вебинара. Но Вы можете его приобрести.&nbsp;<br>Внимание! Если Вы уже оплатили этот вебинар, но доступ к нему не появился, <b><a href="index.html#accordion01-a" class="text-primary">обратитесь к ответам на наиболее частые вопросы на главной странице сайта</a>.</b></strong></p>-->
<!--                                    </div>-->
<!--                                    <div class="buttons-wrap mt-0">-->
<!--                        <div class="mbr-section-btn align-center align-self-center"><a class="btn btn-lg btn-primary display-4" href="#" data-toggle="modal" data-target="#mbr-popup-13">Получить вебинар №3</a></div>-->
<!--                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="card">-->
<!--                                <div class="card-header" role="tab" id="headingFour">-->
<!--                                    <a role="button" class="collapsed panel-title text-black pr-3" data-toggle="collapse" data-core="" href="#collapse4_15" aria-expanded="false" aria-controls="collapse4">-->
<!--                                        <h4 class="mbr-fonts-style display-7"><span class="toggle-icon inactive sign mbr-iconfont"></span>-->
<!--                                            Ut sed semper massa. Cras imperdiet?-->
<!--                                        </h4>-->
<!--                                    </a>-->
<!--                                </div>-->
<!--                                <div id="collapse4_15" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#bootstrap-accordion_15">-->
<!--                                    <div class="panel-body">-->
<!--                                        <p class="mbr-fonts-style panel-text pr-2 display-4">-->
<!--                                            Aliquam purus sit amet luctus venenatis lectus magna fringilla urna. Egestas-->
<!--                                            congue quisque egestas diam in arcu cursus euismod.-->
<!--                                        </p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="card">-->
<!--                                <div class="card-header" role="tab" id="headingFive">-->
<!--                                    <a role="button" class="collapsed panel-title text-black pr-3" data-toggle="collapse" data-core="" href="#collapse5_15" aria-expanded="false" aria-controls="collapse5">-->
<!--                                        <h4 class="mbr-fonts-style display-7"><span class="toggle-icon inactive sign mbr-iconfont"></span>-->
<!--                                            Orci semper interdum nec ac tortor at?-->
<!--                                        </h4>-->
<!--                                    </a>-->
<!--                                </div>-->
<!--                                <div id="collapse5_15" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#bootstrap-accordion_15">-->
<!--                                    <div class="panel-body">-->
<!--                                        <p class="mbr-fonts-style panel-text pr-2 display-4">-->
<!--                                            Aliquam purus sit amet luctus venenatis lectus magna fringilla urna. Egestas-->
<!--                                            congue quisque egestas diam in arcu cursus euismod.</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            -->
<!--                        </div>-->
<!--                        <div class="col-lg-12">-->
<!--                            -->
<!--                            <div class="card">-->
<!--                                <div class="card-header" role="tab" id="headingOne">-->
<!--                                    <a role="button" class="panel-title collapsed text-black pr-3" data-toggle="collapse" data-core="" href="#collapse7_15" aria-expanded="false" aria-controls="collapse7">-->
<!--                                        <h4 class="mbr-fonts-style display-7"><span class="toggle-icon inactive sign mbr-iconfont"></span>At tellus at urna-->
<!--                                            condimentum mattis-->
<!--                                        </h4>-->
<!--                                    </a>-->
<!--                                </div>-->
<!--                                <div id="collapse7_15" class="panel-collapse noScroll collapse " role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_15">-->
<!--                                    <div class="panel-body">-->
<!--                                        <p class="mbr-fonts-style panel-text pr-2 display-4">-->
<!--                                            Aliquam purus sit amet luctus venenatis lectus magna fringilla urna. Egestas-->
<!--                                            congue quisque egestas diam in arcu cursus euismod.</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="card">-->
<!--                                <div class="card-header" role="tab" id="headingTwo">-->
<!--                                    <a role="button" class="collapsed panel-title text-black pr-3" data-toggle="collapse" data-core="" href="#collapse8_15" aria-expanded="false" aria-controls="collapse8">-->
<!--                                        <h4 class="mbr-fonts-style display-7"><span class="toggle-icon inactive sign mbr-iconfont"></span>Viverra nam libero-->
<!--                                            justo laoreet sit amet-->
<!--                                        </h4>-->
<!--                                    </a>-->

<!--                                </div>-->
<!--                                <div id="collapse8_15" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#bootstrap-accordion_15">-->
<!--                                    <div class="panel-body">-->
<!--                                        <p class="mbr-fonts-style panel-text pr-2 display-4">-->
<!--                                            Aliquam purus sit amet luctus venenatis lectus magna fringilla urna. Egestas-->
<!--                                            congue quisque egestas diam in arcu cursus euismod.</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="card">-->
<!--                                <div class="card-header" role="tab" id="headingThree">-->
<!--                                    <a role="button" class="collapsed text-black panel-title pr-3" data-toggle="collapse" data-core="" href="#collapse9_15" aria-expanded="false" aria-controls="collapse9">-->
<!--                                        <h4 class="mbr-fonts-style display-7"><span class="toggle-icon inactive sign mbr-iconfont"></span>Mollis nunc sed id-->
<!--                                            semper risus-->
<!--                                        </h4>-->
<!--                                    </a>-->
<!--                                </div>-->
<!--                                <div id="collapse9_15" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#bootstrap-accordion_15">-->
<!--                                    <div class="panel-body">-->
<!--                                        <p class="mbr-fonts-style panel-text pr-2 display-4">Aliquam purus sit amet luctus-->
<!--                                            venenatis lectus magna fringilla urna. Egestas congue quisque egestas diam-->
<!--                                            in arcu cursus euismod.-->
<!--                                        </p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="card">-->
<!--                                <div class="card-header" role="tab" id="headingFour">-->
<!--                                    <a role="button" class="collapsed panel-title text-black pr-3" data-toggle="collapse" data-core="" href="#collapse10_15" aria-expanded="false" aria-controls="collapse10">-->
<!--                                        <h4 class="mbr-fonts-style display-7"><span class="toggle-icon inactive sign mbr-iconfont"></span>-->
<!--                                            Dui sapien eget mi proin sed libero enim-->
<!--                                        </h4>-->
<!--                                    </a>-->
<!--                                </div>-->
<!--                                <div id="collapse10_15" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#bootstrap-accordion_15">-->
<!--                                    <div class="panel-body">-->
<!--                                        <p class="mbr-fonts-style panel-text pr-2 display-4">-->
<!--                                            Aliquam purus sit amet luctus venenatis lectus magna fringilla urna. Egestas-->
<!--                                            congue quisque egestas diam in arcu cursus euismod.-->
<!--                                        </p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="card">-->
<!--                                <div class="card-header" role="tab" id="headingFive">-->
<!--                                    <a role="button" class="collapsed panel-title text-black pr-3" data-toggle="collapse" data-core="" href="#collapse11_15" aria-expanded="false" aria-controls="collapse11">-->
<!--                                        <h4 class="mbr-fonts-style display-7"><span class="toggle-icon inactive sign mbr-iconfont"></span>-->
<!--                                            Sit amet mauris commodo quis imperdiet-->
<!--                                        </h4>-->
<!--                                    </a>-->
<!--                                </div>-->
<!--                                <div id="collapse11_15" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#bootstrap-accordion_15">-->
<!--                                    <div class="panel-body">-->
<!--                                        <p class="mbr-fonts-style panel-text pr-2 display-4">-->
<!--                                            Aliquam purus sit amet luctus venenatis lectus magna fringilla urna. Egestas-->
<!--                                            congue quisque egestas diam in arcu cursus euismod.</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            -->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<section class="accordion1 cid-s9dQTcaqKT" id="accordion01-1r">

    

    
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 title-text">
                <h3 class="mbr-section-title mbr-bold align-center mbr-fonts-style display-2">
                    Вебинары&nbsp;<span>марафона</span></h3>
                <h4 class="mbr-section-subtitle pb-1 align-center mbr-light mbr-fonts-style display-7">Здесь находятся все Ваши вебинары, а также вебинары, которые Вы можете приобрести, щёлкнув по соответствующей вкладке</h4>
                
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="bootstrap-accordion_26" class="panel-group accordionStyles accordion" role="tablist" aria-multiselectable="true">
                    <div class="row">
                        <div class="col-lg-12">
                            
                            <div class="card">
                                <div class="card-header" role="tab" id="headingTwo">
                                    <a role="button" class="collapsed panel-title text-black pr-3" data-toggle="collapse" data-core="" href="#collapse2_26" aria-expanded="false" aria-controls="collapse2">
                                        <h4 class="mbr-fonts-style display-7"><span class="toggle-icon inactive sign mbr-iconfont"></span><span class="text-primary display-5">Тема №1. </span>"Моя жизненная Миссия"</h4>
                                    </a>

                                </div>
                                <div id="collapse2_26" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#bootstrap-accordion_26">
                                    <div class="panel-body">
                                        
                                        <!-- CUSTOM VIDEOS  -->
                                        
<div class="extVideo cid-s9dMobLaeo" id="extVideo2-1q" style="background-color: transparent">





    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-12 col-12 col-lg-6">
                <p class="mbr-fonts-style panel-text pr-2 display-4"> Небольшое описание к видео</p>
                <div class="box1">
                    <div class="mbr-media show-modal align-center py-2" data-toggle="modal" data-target=".w1">
                        <div class="icon-wrap">
                            <span class="mobi-mbri-play mobi-mbri"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mbr-white col-md-12 col-12 col-lg-6">
                <p class="mbr-fonts-style panel-text pr-2 display-4"> Небольшое описание к видео</p>
                <div class="box2">
                    <div class="mbr-media show-modal align-center py-2" data-toggle="modal" data-target=".w2">
                        <div class="icon-wrap">
                            <span class="mobi-mbri-play mobi-mbri"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="modalWindow w1" style="display: none;">
            <div class="modalWindow-container">
                <div class="modalWindow-video-container">
                    <div class="modalWindow-video">
                        <iframe width="100%" height="100%" frameborder="0" allowfullscreen="1" data-src="https://www.youtube.com/watch?v=J21qu_vspfg"></iframe>
                    </div>
                    <a class="close custom-close" role="button" data-dismiss="modal">
                        <span aria-hidden="true" class="mbri-close closeModal"></span>
                        <span class="sr-only">Close</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="modalWindow w2" style="display: none;">
            <div class="modalWindow-container">
                <div class="modalWindow-video-container">
                    <div class="modalWindow-video">
                        <iframe width="100%" height="100%" frameborder="0" allowfullscreen="1" data-src="https://www.youtube.com/watch?v=8-e8LSfT6gI"></iframe>
                    </div>
                    <a class="close custom-close" role="button" data-dismiss="modal">
                        <span aria-hidden="true" class="mbri-close closeModal"></span>
                        <span class="sr-only">Close</span>
                    </a>
                </div>
            </div>
        </div>


    </div>
</div>
                                        
                                        
                                     <!-- CUSTOM VIDEOS  END  -->    
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingThree">
                                    <a role="button" class="collapsed text-black panel-title pr-3" data-toggle="collapse" data-core="" href="#collapse3_26" aria-expanded="false" aria-controls="collapse3">
                                        <h4 class="mbr-fonts-style display-7"><span class="toggle-icon inactive sign mbr-iconfont"></span><span class="text-primary display-5">Тема №2. </span>"Как перейти от существования к яркой жизни"</h4>
                                    </a>
                                </div>
                                <div id="collapse3_26" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#bootstrap-accordion_26">
                                    <div class="panel-body">
                                        <p class="mbr-fonts-style panel-text pr-2 display-4"><strong>Нет доступа к темам вебинара. Но Вы можете его приобрести.&nbsp;<br>Внимание! Если Вы уже оплатили этот вебинар, но доступ к нему не появился, <b><a href="index.html#accordion01-a" class="text-primary">обратитесь к ответам на наиболее частые вопросы на главной странице сайта</a>.</b></strong></p>
                                    </div>
                                    <div class="buttons-wrap mt-0">
                        <div class="mbr-section-btn align-center align-self-center"><a class="btn btn-lg btn-primary display-4" href="#" data-toggle="modal" data-target="#mbr-popup-2s">Получить вебинар №3</a></div>
                    </div>
                                </div>
                            </div>
                           
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{#<!--<section class="extVideo cid-s9dMobLaeo" id="extVideo2-1q">-->#}
{##}
{#<!--    -->#}
{##}
{#<!--    -->#}
{##}
{#<!--    <div class="container align-center">-->#}
{#<!--        <div class="row justify-content-md-center">-->#}
{#<!--            <div class="mbr-white col-md-12 col-12 col-lg-6">-->#}
{#<!--                <div class="box1">-->#}
{#<!--                    <div class="mbr-media show-modal align-center py-2" data-toggle="modal" data-target=".w1">-->#}
{#<!--                        <div class="icon-wrap">-->#}
{#<!--                            <span class="mbr-iconfont mobi-mbri-play mobi-mbri"></span>-->#}
{#<!--                        </div>-->#}
{#<!--                    </div>-->#}
{#<!--                </div>-->#}
{#<!--            </div>-->#}
{#<!--            <div class="mbr-white col-md-12 col-12 col-lg-6">-->#}
{#<!--                <div class="box2">-->#}
{#<!--                    <div class="mbr-media show-modal align-center py-2" data-toggle="modal" data-target=".w2">-->#}
{#<!--                        <div class="icon-wrap">-->#}
{#<!--                            <span class="mbr-iconfont mobi-mbri-play mobi-mbri"></span>-->#}
{#<!--                        </div>-->#}
{#<!--                    </div>-->#}
{#<!--                </div>-->#}
{#<!--            </div>-->#}
{#<!--        </div>-->#}
{#<!--    </div>-->#}
{#<!--    <div>-->#}
{#<!--        <div class="modalWindow w1" style="display: none;">-->#}
{#<!--            <div class="modalWindow-container">-->#}
{#<!--                <div class="modalWindow-video-container">-->#}
{#<!--                    <div class="modalWindow-video">-->#}
{#<!--                        <iframe width="100%" height="100%" frameborder="0" allowfullscreen="1" data-src="https://www.youtube.com/watch?v=J21qu_vspfg"></iframe>-->#}
{#<!--                    </div>-->#}
{#<!--                    <a class="close" role="button" data-dismiss="modal">-->#}
{#<!--                        <span aria-hidden="true" class="mbri-close mbr-iconfont closeModal"></span>-->#}
{#<!--                        <span class="sr-only">Close</span>-->#}
{#<!--                    </a>-->#}
{#<!--                </div>-->#}
{#<!--            </div>-->#}
{#<!--        </div>-->#}
{##}
{#<!--        <div class="modalWindow w2" style="display: none;">-->#}
{#<!--            <div class="modalWindow-container">-->#}
{#<!--                <div class="modalWindow-video-container">-->#}
{#<!--                    <div class="modalWindow-video">-->#}
{#<!--                        <iframe width="100%" height="100%" frameborder="0" allowfullscreen="1" data-src="https://www.youtube.com/watch?v=8-e8LSfT6gI"></iframe>-->#}
{#<!--                    </div>-->#}
{#<!--                    <a class="close" role="button" data-dismiss="modal">-->#}
{#<!--                        <span aria-hidden="true" class="mbri-close mbr-iconfont closeModal"></span>-->#}
{#<!--                        <span class="sr-only">Close</span>-->#}
{#<!--                    </a>-->#}
{#<!--                </div>-->#}
{#<!--            </div>-->#}
{#<!--        </div>-->#}
{##}
{##}
{#<!--    </div>-->#}
{#<!--</section>-->#}

{#<section class="content02 cid-s8WRsGW5AR" id="content02-12">#}
{##}
{#    #}
{##}
{#    #}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="card col-12 col-md-12">#}
{#                <div class="wrapper align-left">#}
{#                    <h3 class="mbr-section-title mbr-bold align-left mbr-fonts-style display-2"><span>Понравился</span>&nbsp;<span>Марафон</span>&nbsp;?</h3>#}
{#                    <h3 class="mbr-section-title mbr-bold align-left mbr-fonts-style display-2"><span>Оставь </span>&nbsp;<span>отзыв</span>&nbsp;!</h3>#}
{#                    #}
{#                    #}
{#                    <div class="buttons-wrap mt-4">#}
{#                        <div class="mbr-section-btn align-left align-self-center"><a class="btn btn-sm btn-success display-4" href="#" data-toggle="modal" data-target="#mbr-popup-13">Написать отзыв</a>#}
{#<!--                             <a class="btn btn-sm btn-primary" href="#" data-app-placeholder="Введите Текст">Schedule Maintenance</a> --></div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</section>#}
{##}
{#<div class="modal mbr-popup cid-s8WRunfqAc fade" tabindex="-1" role="dialog" data-overlay-color="#000000" data-overlay-opacity="0.8" id="mbr-popup-13" aria-hidden="true">#}
{#        <div class="modal-dialog modal-dialog-centered" role="document">#}
{#            <div class="modal-content">#}
{#                <div class="modal-header">#}
{#                    #}
{#                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" fill="currentColor">#}
{#                            <path d="M31.797 0.191c-0.264-0.256-0.686-0.25-0.942 0.015l-13.328 13.326c-0.598 0.581 0.342 1.543 0.942 0.942l13.328-13.326c0.27-0.262 0.27-0.695 0-0.957zM14.472 17.515c-0.264-0.256-0.686-0.25-0.942 0.015l-13.328 13.326c-0.613 0.595 0.34 1.562 0.942 0.942l13.328-13.326c0.27-0.262 0.27-0.695 0-0.957zM1.144 0.205c-0.584-0.587-1.544 0.336-0.942 0.942l30.654 30.651c0.613 0.625 1.563-0.325 0.942-0.942z"></path>#}
{#                        </svg>#}
{#                    </button>#}
{#                </div>#}
{##}
{#                <div class="modal-body">#}
{#                    #}
{##}
{#                    <div>#}
{#                        #}
{#                            #}
{##}
{#                            <div class="form-wrapper" data-form-type="formoid">#}
{#<!--Formbuilder Form-->#}
{#<form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler" data-form-title="Mobirise Form"><input type="hidden" name="email" data-form-email="true" value="VYic1nDpFwH5XBd8qy1I0Yz1tdrUUS8vMriB2neOxdKXoLNFuGTodVikPGrepauPh6eGaJEF2ntuJ43EvDRL5iMuS9s2j0hYZ5Y30HQJJoMTYawSa7qia6sG0i53DOAZ">#}
{#<div class="">#}
{#<div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Ваш отзыв успешно получен! Спасибо за обратную связь!</div>#}
{#<div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">#}
{#</div>#}
{#</div>#}
{#<div class="dragArea">#}
{#<div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="avatar">#}
{#<label for="avatar-mbr-popup-13" class="form-control-label mbr-fonts-style display-7">Ваша фотография (по желанию)</label>#}
{#<input type="text" name="avatar" data-form-field="avatar" class="form-control display-7" value="" id="avatar-mbr-popup-13">#}
{#</div>#}
{#<div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="content">#}
{#<label for="content-mbr-popup-13" class="form-control-label mbr-fonts-style display-7">Текст Вашего отзыва</label>#}
{#<textarea name="content" data-form-field="content" class="form-control display-7" required="required" id="content-mbr-popup-13"></textarea>#}
{#</div>#}
{#<div class="col-md-auto input-group-btn">#}
{#<button type="submit" class="btn btn-primary display-4">Отправить</button>#}
{#</div>#}
{#</div>#}
{#</form><!--Formbuilder Form-->#}
{#</div>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="modal-footer pt-0">#}
{#                        <div class="mbr-section-btn">#}
{#                            <a class="btn btn-md btn-primary display-4" href="#">#}
{#                                LEARN MORE#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

<div class="modal mbr-popup cid-s9ut0GCzMC fade" tabindex="-1" role="dialog" data-overlay-color="#000000" data-overlay-opacity="0.8" id="mbr-popup-2s" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header pb-0">
                    <h5 class="modal-title mbr-fonts-style display-5">Popup Title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" fill="currentColor">
                            <path d="M31.797 0.191c-0.264-0.256-0.686-0.25-0.942 0.015l-13.328 13.326c-0.598 0.581 0.342 1.543 0.942 0.942l13.328-13.326c0.27-0.262 0.27-0.695 0-0.957zM14.472 17.515c-0.264-0.256-0.686-0.25-0.942 0.015l-13.328 13.326c-0.613 0.595 0.34 1.562 0.942 0.942l13.328-13.326c0.27-0.262 0.27-0.695 0-0.957zM1.144 0.205c-0.584-0.587-1.544 0.336-0.942 0.942l30.654 30.651c0.613 0.625 1.563-0.325 0.942-0.942z"></path>
                        </svg>
                    </button>
                </div>

                <div class="modal-body">
                    <p class="mbr-text mbr-fonts-style display-7">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore incidunt molestias, vitae recusandae error ipsam
                    </p>

                    <div>
                        <div class="card-img mbr-figure">
                            <img src="/assets/images/popup.jpg" alt="">
                        </div>



                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="mbr-section-btn"><a class="btn btn-md btn-primary display-4" href="#">Оплатить</a></div>
                    </div>
                </div>
            </div>
        </div>

{% include "includes/footer.html" %}


  <script src="/assets/web/assets/jquery/jquery.min.js"></script>
  <script src="/assets/popper/popper.min.js"></script>
  <script src="/assets/tether/tether.min.js"></script>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5"></script>
  <script src="https://apis.google.com/js/plusone.js"></script>
  <script src="/assets/facebook-plugin/facebook-script.js"></script>
  <script src="/assets/smoothscroll/smooth-scroll.js"></script>
  <script src="/assets/dropdown/js/nav-dropdown.js"></script>
  <script src="/assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="/assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="/assets/viewportchecker/jquery.viewportchecker.js"></script>
  <script src="/assets/parallax/jarallax.min.js"></script>
  <script src="/assets/playervimeo/vimeo_player.js"></script>
  <script src="/assets/formstyler/jquery.formstyler.js"></script>
  <script src="/assets/formstyler/jquery.formstyler.min.js"></script>
  <script src="/assets/datepicker/jquery.datetimepicker.full.js"></script>
  <script src="/assets/popup-plugin/script.js"></script>
  <script src="/assets/popup-overlay-plugin/script.js"></script>
  <script src="/assets/theme/js/script.js"></script>
  <script src="/assets/pauseVideo/script.js"></script>
{#  <script src="/assets/formoid.min.js"></script>#}
 <script src="/assets/functions.js"></script>
  
  
  
 <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
    <input name="animation" type="hidden">
  
</body>
</html>