{% load custom_tags %}
<!DOCTYPE html>
<html  lang="ru">
<head>
  
  {% include "includes/meta.html" %}
  
  
  <title>"Движение Вверх" марафон - Личный кабинет</title>
  <link rel="stylesheet" href="/assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="/assets/web/assets/mobirise-icons2/mobirise2.css">
    <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="/assets/tether/tether.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/assets/facebook-plugin/style.css">
  <link rel="stylesheet" href="/assets/dropdown/css/style.css">
{#  <link rel="stylesheet" href="/assets/animatecss/animate.min.css">#}
  <link rel="stylesheet" href="/assets/formstyler/jquery.formstyler.css">
  <link rel="stylesheet" href="/assets/formstyler/jquery.formstyler.theme.css">
  <link rel="stylesheet" href="/assets/datepicker/jquery.datetimepicker.min.css">
  <link rel="stylesheet" href="/assets/socicon/css/styles.css">
  <link rel="stylesheet" href="/assets/theme/css/style.css">
  <link rel="stylesheet" href="/assets/recaptcha.css">

  <link rel="preload" as="style" href="/assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="/assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  <style>
    @media(max-width: 1445px){
        .custom-close {
            top: -15vh!important;
        }}
  </style>

</head>
{#TODO#}
<body oncontextmenu="return false;">
{#<body>#}

 {% include "includes/nav.html" %}

<section class="title01 cid-s8Wt9NDSGZ mbr-parallax-background" id="title01-s">

    

    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(6, 24, 45);"></div>

    <div class="align-center container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="icon-wrap">
                </div>
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-5">
                    Добро пожаловать, {{ user.get_full_name }}!</h1>
            </div>
        </div>

    </div>

</section>

<section class="extContent cid-s8X6rwmHeE" id="extContent21-18">
    <div class="container">
        <h3 class="mbr-section-title mbr-bold align-center mbr-fonts-style display-2">Список доступных марафонов</h3>
        <div class="row">
            {% for mar in marathones %}
                <div class="col-md-4">
                    <p>
                        <a href="/me?marathon={{ mar.pk }}" class="mbr-text mbr-fonts-style display-7 custom-hover{% if mar.pk == marathon.pk %} text-primary{% endif %}">"{{ mar.title }}"</a>
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>


{% if marathon %}

    {% if marathon.promo %}
<section class="extVideo cid-s9dMobLaeo my-0" id="extVideo2-1q-promo">
   <div class="container align-center">
      <div class="row justify-content-md-center">
            <div class="mbr-white col-md-12 col-12 col-lg-11">
               <div class="box1" style="background-image: url('/assets/images/promo_new.jpg'); height: 580px;">
                   <div class="mbr-media show-modal align-center py-2" data-toggle="modal" data-target=".w1_main">
                       <div class="icon-wrap">
                           <span class="mbr-iconfont mobi-mbri-play mobi-mbri"></span>
                       </div>
                   </div>
               </div>
           </div>

       </div>
   </div>
   <div>
       <div class="modalWindow w1_main" style="display: none;">
           <div class="modalWindow-container">
               <div class="modalWindow-video-container">
                   <div class="modalWindow-video">
                       <iframe width="100%" height="100%" frameborder="0" allowfullscreen="1" data-src="https://www.youtube.com/watch?v={{ marathon.promo }}"></iframe>
                   </div>
                   <a class="close" role="button" data-dismiss="modal">
                       <span aria-hidden="true" class="mbri-close mbr-iconfont closeModal"></span>
                       <span class="sr-only">Close</span>
                   </a>
               </div>
           </div>
       </div>
   </div>
</section>
{% endif %}


<section class="accordion1 cid-s9dQTcaqKT" id="accordion01-1r">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 ">
                <h3 class="mbr-section-title mbr-bold align-center mbr-fonts-style display-2">
                    Марафон&nbsp;<span>"{{ marathon.title }}"</span></h3>
                <h4 class="mbr-section-subtitle pb-1 align-center mbr-light mbr-fonts-style display-7">{{ marathon.description }}</h4>
                <div class="mbr-section-btn align-center align-self-center">
                    <h4 class="mbr-section-subtitle pb-1 align-center mbr-light mbr-fonts-style display-7 font-weight-bold">{{ marathon.gift.description }}
{#                        {% if payment_valid and marathon.gift.file %}<a href="{{ marathon.gift.file.url }}" class="btn btn-sm btn btn-success">Скачать книгу</a> {% endif %}#}
                        {% if payment_valid and marathon.gift.file %}<a href="get_gift/{{ marathon.pk }}" class="btn btn-sm btn btn-success">Скачать книгу</a> {% endif %}
                    </h4>
                </div>
            </div>
            {% if not payment_valid %}
                {% if payment_expired %}
                    <p class="mbr-section-subtitle pb-1 align-center mbr-light mbr-fonts-style display-4">
                        <span class="fa fa-awesome fa-warning text-primary"></span>
                        Двухмесячный срок подписки на марафон истек.
                    </p>
                {% else %}
                    <p class="mbr-fonts-style panel-text pr-2 display-5"><strong>Стоимость марафона {{ marathon.cost }}₽</strong></p>
                {% endif %}
                <p class="mbr-fonts-style display-4 text-muted px-3">Внимание! Если Вы уже оплатили марафон, но доступ к нему не появился, <b><a href="/#accordion01-a" class="text-primary">обратитесь к ответам на наиболее частые вопросы на главной странице сайта</a>.</b></p>

                        <form method="POST" action="/api/payment/{{ marathon.pk }}"> {% csrf_token %}
                            <div class="mbr-section-btn align-center align-self-center">
                                <button class="btn btn-lg btn-primary display-4" type="submit" style="border-radius: 100px">Получить марафон за {{ marathon.cost }}₽</button></div>
                        </form>
            {% else %}
                <div class="col-12 col-md-12 ">
                    <span class="mbr-section-subtitle pt-2 align-left mbr-light mbr-fonts-style display-4 text-muted">Здесь находятся все вебинары марафона. Сроки выхода вебинаров могут быть изменены. Вы будете проинформированы о выходе вебинара предварительно за день.</span>
                    <p class="mbr-light mbr-fonts-style display-4 text-small text-muted mt-2">
                        <span class="fa fa-awesome fa-info-circle text-primary"></span>
                        Статус платежа: "{{ payment_valid|full_status }}"

                {% if payment_valid.status == "succeeded" %}
                        <br><span class="fa fa-awesome fa-calendar-times-o text-primary"></span> {% if payment_valid.date_approve|deltatime:'62' is not None %}Срок подписки истекает: {{ payment_valid.date_approve|deltatime:'62'|date:"d.m.Y" }}{% endif %}
                        <br><a href="/get_invoice/{{ payment_valid.uuid }}" target="_blank"><span class="fa fa-awesome fa-download"></span>  Скачать квитанцию</a>
                {% else %}
                    <p class="mbr-fonts-style display-4 text-muted px-3">Внимание! Если Вы уже оплатили марафон, но доступ к нему не появился, <b><a href="/#accordion01-a" class="text-primary">обратитесь к ответам на наиболее частые вопросы на главной странице сайта</a>.</b></p>

                        <form method="POST" action="/api/payment/{{ marathon.pk }}"> {% csrf_token %}
                            <div class="mbr-section-btn align-center align-self-center">
                                <button class="btn btn-lg btn-primary display-4" type="submit" style="border-radius: 100px">Получить марафон за {{ marathon.cost }}₽</button></div>
                        </form>
                {% endif %}
                </p>
                </div>
            {% endif %}


        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="bootstrap-accordion_26" class="panel-group accordionStyles accordion" role="tablist" aria-multiselectable="true">
                    <div class="row">
                        <div class="col-lg-12">
                            {% for lesson in lessons %}

                                <div class="card">
                                <div class="card-header" role="tab" id="heading{{ lesson.number }}">
                                    {% include 'includes/lesson_title.html' %}
{#                                    <a role="button" class="collapsed panel-title text-black pr-3#}
{#                                       {% if lesson.date_publish > current_date %}#}
{#                                            inactive cursor_default#}
{#                                       {% elif not lesson.free %}#}
{#                                            {% if not payment_valid or payment_valid.status != 'succeeded'%}#}
{#                                            inactive cursor_default#}
{#                                            {% endif %}#}
{#                                        {% endif %}#}
{#                                        {% if not lesson.prev.looked and not lesson.free %}#}
{#                                            inactive cursor_default#}
{#                                        {% endif %}#}
{#                                        "#}
{#                                       data-toggle="collapse" data-core="" href="#collapse{{ lesson.number }}_26" aria-expanded="false" aria-controls="collaps{{ lesson.number }}">#}
{#                                        <h4 class="mbr-fonts-style display-7"><span class="toggle-icon inactive sign mbr-iconfont"></span>#}
{#                                            <span class="text-primary display-5">Тема №{{ lesson.number }}. </span>#}
{#                                            {{ lesson.title }}.#}
{#                                            {% if lesson.date_publish > current_date %}Дата выхода: {{ lesson.date_publish|date:"d.m.Y" }}#}
{#                                            {% else %}#}
{#                                               <small id="badge_{{ lesson.pk }}">{% if lesson|looked:user.account %}<span class="badge badge-secondary badge-pill">Просмотрена</span>{% else %}<span class="badge badge-success badge-pill">Новая</span>{% endif %}</small>#}
{#                                            {% endif %}#}
{##}
{#                                        </h4>#}
{#                                    </a>#}

                                </div>
                                <div id="body{{ lesson.number }}">
                                {% if lesson.date_publish <= current_date %}
                                    {% if lesson.free or payment_valid.status == 'succeeded' %}
{#                                        {% if lesson.free or lesson.prev|looked:user.account  %}#}
                                            {% include 'includes/lesson_body.html' %}
{#                                        {% endif %}#}
                                    {% endif %}
                                {% endif %}
                                </div>
                            </div>

                            {% empty %}
                                <p class="mbr-fonts-style display-5">Пока опубликованных тем в этом марафоне нет. Но они появятся уже скоро.</p>
                            {% endfor %}
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 {% endif %}

{#<!--<section class="extVideo cid-s9dMobLaeo" id="extVideo2-1q">-->#}
{##}
{#<!--    -->#}
{##}
{#<!--    -->#}
{##}
{#<!--    <div class="container align-center">-->#}
{#<!--        <div class="row justify-content-md-center">-->#}
{#<!--            <div class="mbr-white col-md-12 col-12 col-lg-6">-->#}
{#<!--                <div class="box1">-->#}
{#<!--                    <div class="mbr-media show-modal align-center py-2" data-toggle="modal" data-target=".w1">-->#}
{#<!--                        <div class="icon-wrap">-->#}
{#<!--                            <span class="mbr-iconfont mobi-mbri-play mobi-mbri"></span>-->#}
{#<!--                        </div>-->#}
{#<!--                    </div>-->#}
{#<!--                </div>-->#}
{#<!--            </div>-->#}
{#<!--            <div class="mbr-white col-md-12 col-12 col-lg-6">-->#}
{#<!--                <div class="box2">-->#}
{#<!--                    <div class="mbr-media show-modal align-center py-2" data-toggle="modal" data-target=".w2">-->#}
{#<!--                        <div class="icon-wrap">-->#}
{#<!--                            <span class="mbr-iconfont mobi-mbri-play mobi-mbri"></span>-->#}
{#<!--                        </div>-->#}
{#<!--                    </div>-->#}
{#<!--                </div>-->#}
{#<!--            </div>-->#}
{#<!--        </div>-->#}
{#<!--    </div>-->#}
{#<!--    <div>-->#}
{#<!--        <div class="modalWindow w1" style="display: none;">-->#}
{#<!--            <div class="modalWindow-container">-->#}
{#<!--                <div class="modalWindow-video-container">-->#}
{#<!--                    <div class="modalWindow-video">-->#}
{#<!--                        <iframe width="100%" height="100%" frameborder="0" allowfullscreen="1" data-src="https://www.youtube.com/watch?v=J21qu_vspfg"></iframe>-->#}
{#<!--                    </div>-->#}
{#<!--                    <a class="close" role="button" data-dismiss="modal">-->#}
{#<!--                        <span aria-hidden="true" class="mbri-close mbr-iconfont closeModal"></span>-->#}
{#<!--                        <span class="sr-only">Close</span>-->#}
{#<!--                    </a>-->#}
{#<!--                </div>-->#}
{#<!--            </div>-->#}
{#<!--        </div>-->#}
{##}
{#<!--        <div class="modalWindow w2" style="display: none;">-->#}
{#<!--            <div class="modalWindow-container">-->#}
{#<!--                <div class="modalWindow-video-container">-->#}
{#<!--                    <div class="modalWindow-video">-->#}
{#<!--                        <iframe width="100%" height="100%" frameborder="0" allowfullscreen="1" data-src="https://www.youtube.com/watch?v=8-e8LSfT6gI"></iframe>-->#}
{#<!--                    </div>-->#}
{#<!--                    <a class="close" role="button" data-dismiss="modal">-->#}
{#<!--                        <span aria-hidden="true" class="mbri-close mbr-iconfont closeModal"></span>-->#}
{#<!--                        <span class="sr-only">Close</span>-->#}
{#<!--                    </a>-->#}
{#<!--                </div>-->#}
{#<!--            </div>-->#}
{#<!--        </div>-->#}
{##}
{##}
{#<!--    </div>-->#}
{#<!--</section>-->#}

{% if user.account.has_success_payment %}
 {% if not user.account.feedback_set.all %}

<section class="content02 cid-s8WRsGW5AR" id="content02-12">

    <div class="container">
        <div class="row">
            <div class="card col-12 col-md-12">
                <div class="wrapper align-left">
                    <h3 class="mbr-section-title mbr-bold align-left mbr-fonts-style display-2"><span>Понравился</span>&nbsp;<span>марафон</span>&nbsp;?</h3>
                    <h3 class="mbr-section-title mbr-bold align-left mbr-fonts-style display-2"><span>Оставь </span>&nbsp;<span>отзыв</span>&nbsp;!</h3>


                    <div class="buttons-wrap mt-4">
                        <div class="mbr-section-btn align-left align-self-center"><a class="btn btn-sm btn-success display-4" href="#" data-toggle="modal" data-target="#mbr-popup-13">Написать отзыв</a>
<!--                             <a class="btn btn-sm btn-primary" href="#" data-app-placeholder="Введите Текст">Schedule Maintenance</a> --></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal mbr-popup cid-s8WRunfqAc fade" tabindex="-1" role="dialog" data-overlay-color="#000000" data-overlay-opacity="0.8" id="mbr-popup-13" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" fill="currentColor">
                            <path d="M31.797 0.191c-0.264-0.256-0.686-0.25-0.942 0.015l-13.328 13.326c-0.598 0.581 0.342 1.543 0.942 0.942l13.328-13.326c0.27-0.262 0.27-0.695 0-0.957zM14.472 17.515c-0.264-0.256-0.686-0.25-0.942 0.015l-13.328 13.326c-0.613 0.595 0.34 1.562 0.942 0.942l13.328-13.326c0.27-0.262 0.27-0.695 0-0.957zM1.144 0.205c-0.584-0.587-1.544 0.336-0.942 0.942l30.654 30.651c0.613 0.625 1.563-0.325 0.942-0.942z"></path>
                        </svg>
                    </button>
                </div>

                <div class="modal-body">


                    <div>



                            <div class="form-wrapper" data-form-type="formoid">
<!--Formbuilder Form-->
<form action="/me" method="POST" class="mbr-form form-with-styler" enctype="multipart/form-data" data-form-title="Mobirise Form"><input type="hidden" name="email" data-form-email="true" value="VYic1nDpFwH5XBd8qy1I0Yz1tdrUUS8vMriB2neOxdKXoLNFuGTodVikPGrepauPh6eGaJEF2ntuJ43EvDRL5iMuS9s2j0hYZ5Y30HQJJoMTYawSa7qia6sG0i53DOAZ">
{% csrf_token %}
    <div class="">
<div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Ваш отзыв успешно получен! Спасибо за обратную связь!</div>
{% if form.errors.custom %}
    <div class="alert alert-warning col-12 rounded p-0 m-0">
        <span class="mbr-fonts-style display-4 text-light p-0 m-0">{{ form.errors.custom }}</span>
    </div>
 {% endif %}
</div>
</div>
<div class="dragArea">
<div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="avatar">
<label for="{{ form.id_photo }}" class="form-control-label mbr-fonts-style display-7">Ваша фотография (по желанию)</label>
{#<input type="text" name="avatar" data-form-field="avatar" class="form-control display-7" value="" id="avatar-mbr-popup-13">#}
    {{ form.photo }}
    {% if form.photo.errors %}
        <div class="alert alert-warning col-12 rounded p-0 m-0">
            <span class="mbr-fonts-style subtext display-4 text-light p-0 m-0">{{ form.photo.errors }}</span>
        </div>
    {% endif %}
</div>
<div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="content">
<label for="{{ form.id_review }}" class="form-control-label mbr-fonts-style display-7">Текст Вашего отзыва</label>
{#<textarea name="content" data-form-field="content" class="form-control display-7" required="required" id="content-mbr-popup-13"></textarea>#}
    {{ form.review }}
    {% if form.review.errors %}
        <div class="alert alert-warning col-12 rounded p-0 m-0">
            <span class="mbr-fonts-style subtext display-4 text-light p-0 m-0">{{ form.review.errors }}</span>
        </div>
    {% endif %}
</div>
<div class="col-md-auto input-group-btn">
<button type="submit" class="btn btn-primary display-4">Отправить</button>
</div>
</div>
</form><!--Formbuilder Form-->
</div>
                        </div>
                    </div>

{#                    <div class="modal-footer pt-0">#}
{#                        <div class="mbr-section-btn">#}
{#                            <a class="btn btn-md btn-primary display-4" href="#">#}
{#                                LEARN MORE#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
                </div>
            </div>
        </div>

 {% else %}
     <section class="content02 cid-s8WRsGW5AR" id="content02-123">

    <div class="container">
        <div class="row">
            <div class="card col-12 col-md-12">
                <div class="wrapper align-left">
                    <h3 class="mbr-section-title mbr-bold align-left mbr-fonts-style display-2"><span>Ваш</span>&nbsp;<span>отзыв</span>&nbsp;</h3>
                    {% for review in user.account.feedback_set.all %}
                    <p class="mbr-section-title mbr-bold align-left mbr-fonts-style mbr-bold align-left mbr-fonts-style display-4">
                        Статус: {% if review.accepted %}<span class="text-danger">Опубликован</span>{% else %}<span class="text-warning">На проверке</span>{% endif %}
                    </p>
                    <p class="mbr-section-title mbr-bold align-left mbr-fonts-style display-7">
                        «{{ review.feedback }}»
                    </p>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

     </section>
 {% endif %}
 {% endif %}

{#<div class="modal mbr-popup cid-s9ut0GCzMC fade" tabindex="-1" role="dialog" data-overlay-color="#000000" data-overlay-opacity="0.8" id="mbr-popup-2s" aria-hidden="true">#}
{#        <div class="modal-dialog modal-dialog-centered" role="document">#}
{#            <div class="modal-content">#}
{#                <div class="modal-header pb-0">#}
{#                    <h5 class="modal-title mbr-fonts-style display-5">Popup Title</h5>#}
{#                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" fill="currentColor">#}
{#                            <path d="M31.797 0.191c-0.264-0.256-0.686-0.25-0.942 0.015l-13.328 13.326c-0.598 0.581 0.342 1.543 0.942 0.942l13.328-13.326c0.27-0.262 0.27-0.695 0-0.957zM14.472 17.515c-0.264-0.256-0.686-0.25-0.942 0.015l-13.328 13.326c-0.613 0.595 0.34 1.562 0.942 0.942l13.328-13.326c0.27-0.262 0.27-0.695 0-0.957zM1.144 0.205c-0.584-0.587-1.544 0.336-0.942 0.942l30.654 30.651c0.613 0.625 1.563-0.325 0.942-0.942z"></path>#}
{#                        </svg>#}
{#                    </button>#}
{#                </div>#}
{##}
{#                <div class="modal-body">#}
{#                    <p class="mbr-text mbr-fonts-style display-7">#}
{#                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore incidunt molestias, vitae recusandae error ipsam#}
{#                    </p>#}
{##}
{#                    <div>#}
{#                        <div class="card-img mbr-figure">#}
{#                            <img src="/assets/images/popup.jpg" alt="">#}
{#                        </div>#}
{##}
{##}
{##}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="modal-footer">#}
{#                        <div class="mbr-section-btn"><a class="btn btn-md btn-primary display-4" href="#">Оплатить</a></div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}


{% include "includes/footer.html" %}


  <script src="/assets/web/assets/jquery/jquery.min.js"></script>
  <script src="/assets/popper/popper.min.js"></script>
  <script src="/assets/tether/tether.min.js"></script>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5"></script>
  <script src="https://apis.google.com/js/plusone.js"></script>
  <script src="/assets/facebook-plugin/facebook-script.js"></script>
  <script src="/assets/smoothscroll/smooth-scroll.js"></script>
  <script src="/assets/dropdown/js/nav-dropdown.js"></script>
  <script src="/assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="/assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="/assets/viewportchecker/jquery.viewportchecker.js"></script>
  <script src="/assets/parallax/jarallax.min.js"></script>
  <script src="/assets/playervimeo/vimeo_player.js"></script>
  <script src="/assets/formstyler/jquery.formstyler.js"></script>
  <script src="/assets/formstyler/jquery.formstyler.min.js"></script>
  <script src="/assets/datepicker/jquery.datetimepicker.full.js"></script>
  <script src="/assets/popup-plugin/script.js"></script>
  <script src="/assets/popup-overlay-plugin/script.js"></script>
  <script src="/assets/theme/js/script.js"></script>
  <script src="/assets/pauseVideo/script.js"></script>
{#  <script src="/assets/formoid.min.js"></script>#}
 <script src="/assets/functions.js"></script>
  
  
  
{# <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>#}
    <input name="animation" type="hidden">
  
</body>
</html>