<!DOCTYPE html>
<html  lang="ru">
<head>
  

  {% include "includes/meta.html" %}
  
  <title>"Движение Вверх" марафон - Главная</title>
  <link rel="stylesheet" href="/assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="/assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="/assets/icon54/style.css">
  <link rel="stylesheet" href="/assets/icon54-v3/style.css">
  <link rel="stylesheet" href="/assets/icons-mind/style.css">
  <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="/assets/tether/tether.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/assets/facebook-plugin/style.css">
  <link rel="stylesheet" href="/assets/dropdown/css/style.css">
  <link rel="stylesheet" href="/assets/animatecss/animate.min.css">
  <link rel="stylesheet" href="/assets/formstyler/jquery.formstyler.css">
  <link rel="stylesheet" href="/assets/formstyler/jquery.formstyler.theme.css">
  <link rel="stylesheet" href="/assets/datepicker/jquery.datetimepicker.min.css">
  <link rel="stylesheet" href="/assets/socicon/css/styles.css">
  <link rel="stylesheet" href="/assets/theme/css/style.css">
  <link rel="stylesheet" href="/assets/recaptcha.css">
  <link rel="preload" as="style" href="/assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="/assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  

</head>
<body>
  
{% include "includes/nav.html" %}

<section class="header03 cid-rZqakGdhKi mbr-parallax-background mbr-fullscreen" id="header03-2">

    

    <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(14, 38, 64);">
    </div>
    <div class="container">
        <div class="row">
            <div class="card col-12 col-md-12">
                <div class="wrapper align-left">
                    <h3 class="mbr-section-title mbr-bold align-left mbr-fonts-style header display-1"><span>ДВИЖЕНИЕ</span>&nbsp;<span>ВВЕРХ</span>&nbsp;</h3>
                    <h4 class="mbr-section-subtitle pb-1 align-left mbr-regular mbr-fonts-style display-2"><strong>МАРАФОН С АРТЁМОМ ТОРОПЧИНЫМ</strong></h4>
                    
                    <div class="mbr-list mbr-fonts-style display-7">
                        <ul class="list">
                            <li><span style="font-size: 1.25rem; background-color: transparent;">Определи свои сильные стороны</span></li><li><span style="font-size: 1.25rem; background-color: transparent;">Получи энергию для действий</span></li><li><span style="font-size: 1.25rem; background-color: transparent;">Узнай своё предназначение</span></li><li><span style="font-size: 1.25rem; background-color: transparent;">и многое другое</span></li>
                        </ul>
                    </div>
                    <div class="buttons-wrap mt-4">
                        <div class="mbr-section-btn align-left align-self-center btn-align"><a class="btn btn-sm btn-success display-4" href="/register">Зарегистроваться</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content01 cid-s9dknUAkwo" id="content01-1b">

    

    
    <div class="container">
        <div class="row">
            <div class="col-12 img-col col-md-12 col-lg-6">
                <div class="img-wrap">
                    <img src="/assets/images/whatsapp-image-2020-08-27-at-11.37.58-683x1024.jpg" alt="">
                </div>
            </div>
            <div class="card col-12 col-md-12 col-lg-6 pl-5 pt-lg-0 pt-5">
                <div class="wrapper" style="text-align: left!important;">
                    <h3 class="mbr-section-title mbr-bold mbr-fonts-style display-2" style="text-align: left!important;">О&nbsp;<span>СЕБЕ</span></h3>
                    <h4 class="mbr-section-subtitle pt-1 mbr-regular mbr-fonts-style display-5"><strong>Торопчин Артём</strong></h4>
                    <h4 class="mbr-section-subtitle mbr-regular mbr-fonts-style display-7">независимый эксперт в сферах лидерства и личностного развития</h4>
                    <hr class="line pb-1">
                    
                    <p class="mbr-text mbr-regular mbr-fonts-style mt-2 display-4">
                        В детстве я был стеснительным ребёнком, которого не было видно и слышно. Больше старался уходить в сторону и быть в тени. <br>Но жизнь требовала обратного, бросая вызовы кого-то защитить, ответить за ситуацию, проявить волю и выйти из-за кустов.
<br><br>И однажды я принял решение: «Я не хочу для себя черно-белую незапоминающуюся жизнь! Моя судьба имеет смысл, чтобы оставить след в истории после себя. Я начал работать над собой, изменив парадигму своего образа мыслей. Если в спорте, то чемпионство. Если в организации, то карьера. Если в обществе, то вокруг лучшие.
<br>И после, родилась моя главная миссия: «Я хочу быть полезным для других». <br><br>Не понаслышке знаю, что такое:
<br>* строить команду,
<br>* быть антикризисным лидером, <a class="text-primary cursor_p" onclick="bio(1)" id="more-bio">Показать больше...&nbsp;</a>
                        <br>
                        <span style="display: none">
                        * открывать организации с нуля, <br>* сохранять уважение и свои ценности.
<br><br>Сегодня мой опыт в сфере самореализации - более 25 лет. Я применяю знания, полученные от лучших экспертов современности. Закончил несколько учебных заведений и сегодня я дипломированный специалист. 15 лет принимаю участие в социальной работе, как волонтёр, есть множество грамот и благодарностей. За плечами пять успешных бизнесов.
Прожив большую часть жизни в провинциальном городке, оставил всё и уехал покорять столицу без гроша в кармане.
<br>Счастливый муж одной жены и отец двух прекрасных девочек, и это моя гордость.
<br>Это только начало. Верю, что моя уже большая история может помочь многим.
<br>
<br>Я практик и реалист, готов прямо сейчас начать переворачивать Вашу жизнь новыми ощущениями и повысить Ваши показатели в самоопределении, лидерстве, командообразовании, и бонусом, в семейном счастье.
                        </span>
                        <span id="full_bio"></span>
                    </p>
                    <p class="mbr-text mbr-regular align-left mbr-fonts-style mt-0 display-4"></p>
{#                    <div class="sign-wrap mt-5">#}
{#                        <img src="/assets/images/sign.jpg" alt="" hidden="">#}
{#                    </div>#}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="extFeatures cid-s9pABhyBX7" id="extFeatures14-2h">

    

    
    <div class="container">
        <div class="row justify-content-center">
            <div class="card bg1 p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper card1 align-left">
                    <div class="card-ico pb-4">
                        <span class="mbr-iconfont card-icon icon54-v1-blogger"></span>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-5">Блогер&nbsp;</h4>
                        <div class="line-wrap">
                            <div class="line"></div>
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7">Более 26 тысяч читателей&nbsp;</p>
                        
                    </div>
                </div>
            </div>

            <div class="card bg2 p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper card2 align-left">
                    <div class="card-ico pb-4 align-left">
                        <span class="mbr-iconfont card-icon imind-speak-2"></span>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-5">Спикер</h4>
                        <div class="line-wrap">
                            <div class="line"></div>
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7">На площадках с тысячной аудиторией
                        </p>
                        
                    </div>
                </div>
            </div>

            <div class="card bg3 p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper card3 align-left">
                    <div class="card-ico pb-4 align-left">
                        <span class="mbr-iconfont card-icon icon54-v3-book-write"></span>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-5">Автор книг</h4>
                        <div class="line-wrap">
                            <div class="line"></div>
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7">«Движение вверх»<br>и другие&nbsp;</p>
                        
                    </div>
                </div>
            </div>

            <div class="card bg4 p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper card4 align-left">
                    <div class="card-ico pb-4 align-left">
                        <span class="mbr-iconfont card-icon imind-business-mens"></span>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-5">Коуч</h4>
                        <div class="line-wrap">
                            <div class="line"></div>
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7">Более
500 личных консультаций</p>
                        
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>


{#<section class="extVideo cid-s9dMobLaeo my-0" id="extVideo2-1q">#}
{#   <div class="container align-center">#}
{#      <div class="row justify-content-md-center">#}
{#            <div class="mbr-white col-md-12 col-12 col-lg-11">#}
{#               <div class="box1" style="background-image: url('https://img.youtube.com/vi/Xe0n0l80RHk/maxresdefault.jpg'); height: 580px;">#}
{#                   <div class="mbr-media show-modal align-center py-2" data-toggle="modal" data-target=".w1">#}
{#                       <div class="icon-wrap">#}
{#                           <span class="mbr-iconfont mobi-mbri-play mobi-mbri"></span>#}
{#                       </div>#}
{#                   </div>#}
{#               </div>#}
{#           </div>#}
{##}
{#       </div>#}
{#   </div>#}
{#   <div>#}
{#       <div class="modalWindow w1" style="display: none;">#}
{#           <div class="modalWindow-container">#}
{#               <div class="modalWindow-video-container">#}
{#                   <div class="modalWindow-video">#}
{#                       <iframe width="100%" height="100%" frameborder="0" allowfullscreen="1" data-src="https://www.youtube.com/watch?v=Xe0n0l80RHk"></iframe>#}
{#                   </div>#}
{#                   <a class="close" role="button" data-dismiss="modal">#}
{#                       <span aria-hidden="true" class="mbri-close mbr-iconfont closeModal"></span>#}
{#                       <span class="sr-only">Close</span>#}
{#                   </a>#}
{#               </div>#}
{#           </div>#}
{#       </div>#}
{#   </div>#}
{#</section>#}


<section class="content07 cid-s9k3IoNohK mbr-parallax-background" id="content07-2f">
    
    <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(0, 0, 0);">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="content-left-wrapper align-left">
                    <h1 class="mbr-section-title mbr-bold mbr-white mbr-fonts-style display-2">ПРОГРАММА МАРАФОНА<br><br></h1>
                    <p class="subtitle mbr-white mbr-fonts-style display-5">6 суперуроков, которые помогут определить: где ты сейчас и куда надо идти.
                    </p>
{#                    <div class="text-wrap row mt-5" mbr-if="showTextBlocks">#}
{#                        <div class="col-12 col-md-6">#}
{#                            <p class="mbr-text mbr-white mbr-regular mbr-white mbr-fonts-style mb-2 textBlockTitle" mbr-theme-style="display-7" mbr-if="showTextBlocksTitles" data-app-selector=".content-left-wrapper .text-wrap .textBlockTitle"></p>#}
{#                            <p class="mbr-text textBlock mbr-white mbr-light mbr-white mbr-fonts-style" mbr-theme-style="display-4" mbr-if="showTextBlocks" data-app-selector=".content-left-wrapper .text-wrap .textBlock"></p>#}
{#                        </div>#}
{#                        <div class="col-12 col-md-6">#}
{#                            <p class="mbr-text mbr-white mbr-regular mbr-white mbr-fonts-style mb-0 textBlockTitle" mbr-theme-style="display-7" mbr-if="showTextBlocksTitles" data-app-selector=".content-left-wrapper .text-wrap .textBlockTitle"></p>#}
{#                            <p class="mbr-text textBlock mbr-white mbr-light mbr-white mbr-fonts-style" mbr-theme-style="display-4" mbr-if="showTextBlocks" data-app-selector=".content-left-wrapper .text-wrap .textBlock"></p>#}
{#                        </div>#}
{#                        <div class="col-12 col-md-6">#}
{#                            <p class="mbr-text mbr-white mbr-regular mbr-white mbr-fonts-style mb-0 textBlockTitle" mbr-theme-style="display-7" mbr-if="showTextBlocksTitles" data-app-selector=".content-left-wrapper .text-wrap .textBlockTitle"></p>#}
{#                            <p class="mbr-text textBlock mbr-white mbr-light mbr-white mbr-fonts-style" mbr-theme-style="display-4" mbr-if="showTextBlocks" data-app-selector=".content-left-wrapper .text-wrap .textBlock"></p>#}
{#                        </div>#}
{#                        <div class="col-12 col-md-6">#}
{#                            <p class="mbr-text mbr-white mbr-regular mbr-white mbr-fonts-style mb-0 textBlockTitle" mbr-theme-style="display-7" mbr-if="showTextBlocksTitles" data-app-selector=".content-left-wrapper .text-wrap .textBlockTitle"></p>#}
{#                            <p class="mbr-text textBlock mbr-white mbr-light mbr-white mbr-fonts-style" mbr-theme-style="display-4" mbr-if="showTextBlocks" data-app-selector=".content-left-wrapper .text-wrap .textBlock"></p>#}
{#                        </div>#}
{#                    </div> #}
                </div>
            </div>
            <div class="col-lg-7 col-12 pl-lg-5">
                <div class="content-right-wrapper align-left">
                    <p class="mbr-text mbr-white mbr-bold mbr-white mbr-fonts-style px-3 display-5">
                        В них вошли темы:</p>
                    <div class="text-wrap d-flex">
                        <div class="col-lg-12 col-xs-12">
                            <div class="mbr-list mbr-fonts-style display-7">
                                <ul class="list">
                                    <li>Моя жизненная миссия
</li><li>Как перейти от существования к яркой жизни
</li><li>Как не пропустить правильный шаг
</li><li>Многое о команде
</li><li>Сбросить груз и облегчить свой маршрут
</li><li>Что в предназначении моё, а что чужое
</li><li>Стратегия развития лидерства
</li><li>Как увеличить результат
</li><li>Масштабирование своего дела и многое другое&nbsp;</li>
                                </ul>
                            </div>
                        </div>
{#                         <div class="col-lg-6 col-xs-12">#}
{#                            <div class="mbr-list mbr-fonts-style" mbr-theme-style="display-4" data-app-selector=".content-right-wrapper .text-wrap .mbr-list" data-multiline mbr-article mbr-if="showList">#}
{#                                <ul class="list" mbr-if="showList">#}
{#                                    #}
{#                                </ul>#}
{#                            </div>#}
{#                        </div> #}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content02 cid-s9jQ6MEGPv" id="content02-2b">

    

    
    <div class="container">
        <div class="row">
            <div class="card col-12 col-md-12">
                <div class="wrapper align-left">
                    <h3 class="mbr-section-title mbr-bold align-left mbr-fonts-style display-2"><span>БОНУСЫ И&nbsp;</span>
                        <span>ПОДАРКИ</span></h3>
                    
                    
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="extFeatures counters cid-s9jPJuf1Q0" id="extCounters4-29">

    

    
    <div class="container-fluid">

        <div class="row row-main justify-content-center">


            <div class="img col-lg-5 col-md-12">
                <img src="/assets/images/whatsapp-image-2018-04-04-at-11.54.36-400x266.png" title="" alt="">
            </div>




            <div class="img col-lg-7 col-md-12 box">

                <div class="row justify-content-center">

                    <h2 class="mbr-section-title pb-4 mbr-bold mbr-fonts-style align-left display-5">В подарок книга «Движение вверх» - практические советы, как самому назначить зарплату и какую хочешь.&nbsp;</h2>
                    <h2 class="mbr-section-title pb-4 mbr-bold mbr-fonts-style align-left display-5">А также, 7 урок «Семья - радость или гадость»:</h2>

                    
                </div>

                <div class="row justify-content-center">
                    <div class="card col-12 col-md-6 col-lg-6 col-lg-4">
                        <div class="card-img">
                            <span class="mbr-iconfont icon54-v3-love" style="color: rgb(255, 78, 60); fill: rgb(255, 78, 60);"></span>
                        </div>
                        <div class="card-box">
                            <p class="mbr-text mbr-fonts-style mbr-white mbr-normal align-center display-7">Сладкий вкус cемейной жизни<br></p>
                        </div>
                    </div>

                    <div class="card col-12 col-md-6 col-lg-6 col-lg-4">
                        <div class="card-img">
                            <span class="mbr-iconfont icon54-v1-broken-heart" style="color: rgb(255, 78, 60); fill: rgb(255, 78, 60);"></span>
                        </div>
                        <div class="card-box">
                            <p class="mbr-text mbr-fonts-style mbr-white mbr-normal align-center display-7">Причины кризиса в семье<br></p>
                        </div>
                    </div>

                </div>
                <div class="row justify-content-center">

                    <div class="card col-12 col-md-6 col-lg-6 col-lg-4">
                        <div class="card-img">
                            <span class="mbr-iconfont imind-ear" style="color: rgb(255, 78, 60); fill: rgb(255, 78, 60);"></span>
                        </div>
                        <div class="card-box">
                            <p class="mbr-text mbr-fonts-style mbr-white mbr-normal align-center display-7">Как услышать друг друга<br></p>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features02 cid-s8QOdW7ljC" id="features02-8">

    

    
    <div class="container">
        <h3 class="mbr-fonts-style mbr-section-title align-center mbr-bold mbr-black display-2">ВАМ&nbsp;<span>ЗНАКОМЫ</span>&nbsp;ТАКИЕ СИТУАЦИИ?</h3>
                       
        <h4 class="mbr-fonts-style mbr-section-subtitle align-center mbr-regular pt-1 display-5">Для кого подходит марафон</h4>
{#        <p class="mbr-fonts-style custom-item mbr-text align-center mbr-black mbr-regular mt-4 mb-3 display-7">#}


          <div class="row justify-content-center custom-item">
        <div class="card card1 mb-0 pb-0 my-3">
                    <div class="card-wrapper d-flex align-items-start">
                        <span class="mbr-iconfont fa-question fa"></span>
                        <div class="card-box">
                            <h5 class="card-title mbr-semibold mbr-black mbr-fonts-style display-7"><strong>Потерял смысл&nbsp;</strong></h5>

                        </div>
                    </div>
                </div>
                </div>

{#            <span class="fa fa-question mbr-iconfont ico"></span>#}
{#            <span class="card-title mbr-semibold mbr-black"><strong>Потерял смысл&nbsp;</strong></span></p>#}

        <div class="row justify-content-center">
            <div class="col-xs-12 col-12 col-lg-3">
                <div class="card card1 ">
                    <div class="card-wrapper d-flex align-items-start">
                        <span class="mbr-iconfont fa-question fa"></span>
                        <div class="card-box">
                            <h5 class="card-title mbr-semibold mbr-black mbr-fonts-style display-7"><strong>Запутался в самоопределении&nbsp;</strong></h5>
                            
                        </div>
                    </div>
                </div>

                <div class="card card2 left-box ">
                    <div class="card-wrapper d-flex align-items-start">
                        <span class="mbr-iconfont fa-question fa"></span>
                        <div class="card-box">
                            <h5 class="card-title mbr-semibold mbr-black mbr-fonts-style display-7"><strong>Хочешь много, но не знаешь с чего начать</strong></h5>
                            
                        </div>
                    </div>
                </div>

                <div class="card card3 ">
                    <div class="card-wrapper d-flex align-items-start">
                        <span class="mbr-iconfont fa-question fa"></span>
                        <div class="card-box">
                            <h5 class="card-title mbr-semibold mbr-black mbr-fonts-style display-7"><strong>Ты занимаешься формированием команды</strong></h5>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-12 col-lg-6 align-self-center ">
                <div class="img-wrapper">
                    <img src="/assets/images/mbr-1106x797.png" alt="">
                </div>
            </div>
            <div class="col-xs-12 col-12 col-lg-3 pt-5">
                <div class="card card1 ">
                    <div class="card-wrapper d-flex align-items-start">
                        <span class="mbr-iconfont fa-question fa"></span>
                        <div class="card-box">
                            <h5 class="card-title mbr-semibold mbr-black mbr-fonts-style display-7"><strong>Перестал удовлетворять результат и ты в поиске</strong></h5>
                            
                        </div>
                    </div>
                </div>

                <div class="card card2 right-box ">
                    <div class="card-wrapper d-flex align-items-start">
                        <span class="mbr-iconfont fa-question fa"></span>
                        <div class="card-box">
                            <h5 class="card-title mbr-semibold mbr-black mbr-fonts-style display-7"><strong>Есть желание быть лидером, но нет знаний</strong></h5>
                            
                        </div>
                    </div>
                </div>

                <div class="card card3 ">
                    <div class="card-wrapper d-flex align-items-start">
                        <span class="mbr-iconfont fa-question fa"></span>
                        <div class="card-box">
                            <h5 class="card-title mbr-semibold mbr-black mbr-fonts-style display-7"><strong>Действующий лидер, но ощущаешь потолок</strong></h5>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content04 cid-s8QYqSr4Vq mbr-parallax-background" id="content04-b">

    

    <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(0, 0, 0);"></div>

    <div class="container">
        <div class="row">
            <div class="mbr-white col-md-12 align-center">

                <h3 class="mbr-section-title mbr-bold mbr-white mbr-fonts-style display-2">ЧТО В КОНЦЕ&nbsp;<span>МАРАФОНА</span>?</h3>
                
                
                

            </div>
        </div>
        <div class="row mt-4 justify-content-center">
            <div class="card card1 p-3 col-12 col-md-4">
                <div class="card-wrapper">
                    
                    <div class="card-box">
                        
                        <p class="card-text mbr-regular mbr-white mbr-fonts-style display-7"><strong>* Узнаешь, с чего начинается твой прорыв <br>* Найдёшь сильные стороны <br>* Определишь этап, на котором застрял</strong>&nbsp;</p>
                    </div>
                </div>
            </div>

            <div class="card card2 p-3 col-12 col-md-4">
                <div class="card-wrapper">
                    
                    <div class="card-box">
                        
                        <p class="card-text mbr-regular mbr-white mbr-fonts-style display-7"><strong>* Уберёшь ненужный мусор под ногами<br>* Обучишься новым навыкам <br>* Получишь энергию для действий&nbsp;</strong></p>
                    </div>
                </div>
            </div>

            <div class="card card3 p-3 col-12 col-md-4">
                <div class="card-wrapper">
                    
                    <div class="card-box">
                        
                        <p class="card-text mbr-regular mbr-white mbr-fonts-style display-7"><strong>* Научишься эффективному лидерству <br>* Поймёшь своё предназначение <br>* Начнёшь достигать результаты</strong></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons-wrap mt-5">
            <div class="mbr-section-btn align-center align-self-center"><a class="btn btn-sm btn-success display-4" href="/register">Участвовать в марафоне</a></div>

        </div>

    </div>
</section>

<section class="carousel slide testimonials-slider testimonials01 cid-rZqaopt6e1" data-interval="false" id="testimonials01-b">

    

    

    <div class="text-center container">
        <h3 class="mbr-fonts-style mbr-section-title align-center mbr-bold mbr-black display-2"><span>ОТЗЫВЫ</span>&nbsp;О МАРАФОНЕ</h3>
        
        

        <div class="carousel slide pt-3" role="listbox" data-pause="true" data-keyboard="false" data-ride="carousel" data-interval="20000">
            <div class="carousel-inner">
                
            {% for review in reviews %}
                <div class="carousel-item">

                    {% if review.account %}
                        <div class="user col-md-10 col-lg-8">
                            {% if review.account.photo %}
                                <div class="user_image">
                                    <img src="{{ review.account.photo.url }}" alt="" title="">
                                </div>
                            {% endif %}
                        <div class="user_text">
                            <span class="left-top mbr-iconfont fa-quote-left fa"></span>
                            <p class="mbr-fonts-style mbr-text mbr-white display-7">
                                {{ review.feedback }}
                            </p>
                            <div class="user_name mbr-fonts-style mbr-white display-7">
                                {{ review.account.user.first_name }}
                            </div>
                            {% if review.account.city %}
                            <div class="user_desk mbr-light mbr-fonts-style mbr-white display-4">
                                {{ review.account.city }}</div>
                            {% endif %}
                        </div>
                    </div>
                    {% else %}
                        <div class="user col-md-10 col-lg-8">
                            {% if review.custom_photo %}
                                <div class="user_image">
                                    <img src="{{ review.custom_photo.url }}" alt="" title="">
                                </div>
                            {% endif %}
                        <div class="user_text">
                            <span class="left-top mbr-iconfont fa-quote-left fa"></span>
                            <p class="mbr-fonts-style mbr-text mbr-white display-7">
                                {{ review.feedback }}
                            </p>
                            <div class="user_name mbr-fonts-style mbr-white display-7">
                                {{ review.custom_user }}
                            </div>
                            {% if review.custom_city %}
                            <div class="user_desk mbr-light mbr-fonts-style mbr-white display-4">
                                {{ review.custom_city }}</div>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}

                </div>
            {% endfor %}

            <div class="carousel-controls">
                <a class="carousel-control-prev" role="button" data-slide="prev">
                    <span aria-hidden="true" class="mbri-arrow-prev mbr-iconfont"></span>
                    <span class="sr-only">Назад</span>
                </a>

                <a class="carousel-control-next" role="button" data-slide="next">
                    <span aria-hidden="true" class="mbri-arrow-next mbr-iconfont"></span>
                    <span class="sr-only">Вперёд</span>
                </a>
            </div>
        </div>
    </div>
    </div>
</section>

<section class="content02 cid-s8Rk8bH0Nl" id="content02-h">

    

    
    <div class="container">
        <div class="row">
            <div class="card col-12 col-md-12">
                <div class="wrapper align-left">
                    <h4 class="mbr-section-subtitle pb-1 align-left mbr-regular mbr-fonts-style display-5">СТАРТ 1 ОКТЯБРЯ</h4>
                    <h3 class="mbr-section-title mbr-bold align-left mbr-fonts-style display-2"><span>ДО НАЧАЛА</span>&nbsp;<span>МАРАФОНА</span>&nbsp</h3>
                    
                    
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="extCountdown cid-s8RiXIrv1F" id="extCountdown4-f">
    
    
    
    <div class="container ">
        
        
        
        
    </div>
    <div class="container countdown-cont align-center">
        <div class="daysCountdown col-xs-3 col-sm-3 col-md-3" title="Дн."></div>
        <div class="hoursCountdown col-xs-3 col-sm-3 col-md-3" title="Час."></div> 
        <div class="minutesCountdown col-xs-3 col-sm-3 col-md-3" title="Мин."></div> 
        <div class="secondsCountdown col-xs-3 col-sm-3 col-md-3" title="Сек."></div>
        <div class="countdown pt-5 mt-2" data-due-date="2020/10/1 19:00">
        </div>
    </div>
</section>

<section class="accordion1 cid-rZqao4M7ed" id="accordion01-a">

    

    
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 title-text">
                <h3 class="mbr-section-title mbr-bold align-center mbr-fonts-style display-2">
                    ОТВЕТЫ НА&nbsp;<span>ВОПРОСЫ</span></h3>
                
                
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="bootstrap-accordion_12" class="panel-group accordionStyles accordion" role="tablist" aria-multiselectable="true">
                    <div class="row">
                        <div class="col-lg-6">
                            
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <a role="button" class="panel-title collapsed text-black pr-3" data-toggle="collapse" data-core="" href="#collapse1_12" aria-expanded="false" aria-controls="collapse1">

                                        <h4 class="mbr-fonts-style display-7">Что такое онлайн-марафон?<span class="toggle-icon inactive sign mbr-iconfont"></span>
                                        </h4>

                                    </a>
                                </div>
                                <div id="collapse1_12" class="panel-collapse noScroll collapse " role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_12">
                                    <div class="panel-body">
                                        <p class="mbr-fonts-style panel-text pr-2 display-4">
                                            Суть марафона – выполнение заданий, рассчитанных на определённый период времени. Преимущество онлайн-марафона в том, что вы можете учиться с любого устройства в любой точке земного шара. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingTwo">
                                    <a role="button" class="collapsed panel-title text-black pr-3" data-toggle="collapse" data-core="" href="#collapse2_12" aria-expanded="false" aria-controls="collapse2">
                                        <h4 class="mbr-fonts-style display-7"><span class="toggle-icon inactive sign mbr-iconfont"></span>Как часто проходят уроки?
                                        </h4>
                                    </a>

                                </div>
                                <div id="collapse2_12" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#bootstrap-accordion_12">
                                    <div class="panel-body">
                                        <p class="mbr-fonts-style panel-text pr-2 display-4">
                                            Все вебинары начинаются в 19:00 по МСК. Вебинар каждые пять дней.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingThree">
                                    <a role="button" class="collapsed text-black panel-title pr-3" data-toggle="collapse" data-core="" href="#collapse3_12" aria-expanded="false" aria-controls="collapse3">
                                        <h4 class="mbr-fonts-style display-7"><span class="toggle-icon inactive sign mbr-iconfont"></span>Как проходит обучение?
                                        </h4>
                                    </a>
                                </div>
                                <div id="collapse3_12" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#bootstrap-accordion_12">
                                    <div class="panel-body">
                                        <p class="mbr-fonts-style panel-text pr-2 display-4">Все уроки доступны в записи. мы ценим Ваше время :)&nbsp;<br>Обучение происходит на специальной платформе для онлайн-курсов. Вам приходит ссылка на аккаунт, где выложены все файлы&nbsp;и видеоуроки</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingFour">
                                    <a role="button" class="collapsed panel-title text-black pr-3" data-toggle="collapse" data-core="" href="#collapse4_12" aria-expanded="false" aria-controls="collapse4">
                                        <h4 class="mbr-fonts-style display-7"><span class="toggle-icon inactive sign mbr-iconfont"></span>Что делать, если мне будет что-то непонятно?</h4>
                                    </a>
                                </div>
                                <div id="collapse4_12" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#bootstrap-accordion_12">
                                    <div class="panel-body">
                                        <p class="mbr-fonts-style panel-text pr-2 display-4">По любому вопросу Вам помогут модераторы тренинга. Напишите свой вопрос в чат марафона и мы поможем найти решение.<br></p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingFive">
                                    <a role="button" class="collapsed panel-title text-black pr-3" data-toggle="collapse" data-core="" href="#collapse5_12" aria-expanded="false" aria-controls="collapse5">
                                        <h4 class="mbr-fonts-style display-7"><span class="toggle-icon inactive sign mbr-iconfont"><br></span>Как много времени занимает каждое домашнее задание?</h4>
                                    </a>
                                </div>
                                <div id="collapse5_12" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#bootstrap-accordion_12">
                                    <div class="panel-body">
                                        <p class="mbr-fonts-style panel-text pr-2 display-4">
                                            Нет предела совершенству. Каждый уделяет заданиям разное время. В среднем это занимает 25-30 минут в день.</p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-lg-6">
                            
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <a role="button" class="panel-title collapsed text-black pr-3" data-toggle="collapse" data-core="" href="#collapse7_12" aria-expanded="false" aria-controls="collapse7">
                                        <h4 class="mbr-fonts-style display-7"><span class="toggle-icon inactive sign mbr-iconfont"></span>Как подключиться к трансляции?
                                        </h4>
                                    </a>
                                </div>
                                <div id="collapse7_12" class="panel-collapse noScroll collapse " role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_12">
                                    <div class="panel-body">
                                        <p class="mbr-fonts-style panel-text pr-2 display-4">
                                            В день вебинара мы пришлём Вам напоминание и ссылку с доступом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingTwo">
                                    <a role="button" class="collapsed panel-title text-black pr-3" data-toggle="collapse" data-core="" href="#collapse8_12" aria-expanded="false" aria-controls="collapse8">
                                        <h4 class="mbr-fonts-style display-7"><span class="toggle-icon inactive sign mbr-iconfont"></span>Где доступ к урокам?</h4>
                                    </a>

                                </div>
                                <div id="collapse8_12" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#bootstrap-accordion_12">
                                    <div class="panel-body">
                                        <p class="mbr-fonts-style panel-text pr-2 display-4">
                                            Все материалы и доступ к урокам Вы сможете найти в личном кабинете.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingThree">
                                    <a role="button" class="collapsed text-black panel-title pr-3" data-toggle="collapse" data-core="" href="#collapse9_12" aria-expanded="false" aria-controls="collapse9">
                                        <h4 class="mbr-fonts-style display-7"><span class="toggle-icon inactive sign mbr-iconfont"></span>Почему доступ только 2 месяца?</h4>
                                    </a>
                                </div>
                                <div id="collapse9_12" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#bootstrap-accordion_12">
                                    <div class="panel-body">
                                        <p class="mbr-fonts-style panel-text pr-2 display-4">Это наша принципиальная позиция. Мы считаем, что этого времени вполне достаточно для того, чтобы все изучить и начать действовать.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingFour">
                                    <a role="button" class="collapsed panel-title text-black pr-3" data-toggle="collapse" data-core="" href="#collapse10_12" aria-expanded="false" aria-controls="collapse10">
                                        <h4 class="mbr-fonts-style display-7"><span class="toggle-icon inactive sign mbr-iconfont"></span>Оплатил курс и ничего не пришло на почту или пришёл только чек. Когда придёт доступ к курсу?</h4>
                                    </a>
                                </div>
                                <div id="collapse10_12" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#bootstrap-accordion_12">
                                    <div class="panel-body">
                                        <p class="mbr-fonts-style panel-text pr-2 display-4">
                                            Если не пришло совсем ничего, нужно писать нам на почту. Скорее всего, Вы указали email с ошибкой. Если пришёл только чек, значит, все хорошо. Доступы будем рассылать непосредственно в день старта.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingFive">
                                    <a role="button" class="collapsed panel-title text-black pr-3" data-toggle="collapse" data-core="" href="#collapse11_12" aria-expanded="false" aria-controls="collapse11">
                                        <h4 class="mbr-fonts-style display-7"><span class="toggle-icon inactive sign mbr-iconfont"></span>Что такое обратная связь и как она проходит?</h4>
                                    </a>
                                </div>
                                <div id="collapse11_12" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#bootstrap-accordion_12">
                                    <div class="panel-body">
                                        <p class="mbr-fonts-style panel-text pr-2 display-4">
                                            Обратная связь на нашем курсе - это возможность задавать вопросы по курсу кураторам либо Артёму лично. Обратная связь – это урок «День вопросов», который проходит по воскресеньям. Вы задаете письменно вопросы в комментариях к уроку, или в чат службы поддержки на самом сайте ответ можно ожидать в течение нескольких дней. Если вам нужна личная консультация Артёма то вопросы задаются в whatsapp также по воскресеньям с 8 до 20:00. Там же он присылает Вам ответ.</p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="map02 cid-s8RciAEHn9" id="map02-d">

    <div class="container">
        <div class="row">
             <div class="col-lg-6 col-md-12 col-sm-12 order-2">
                                 <div data-form-type="formoid">
                    
<!--Formbuilder Form-->
<form action="" method="POST" class="mbr-form form-with-styler mt-4" data-form-title="Mobirise Form"><input type="hidden" name="email" data-form-email="true" value="3a4LnDG1SEUzQSL0jfLHHtWD6+Ip7g1pj5b/pVqg9UrwEhyVf7fWT/9Lnuo4OwBhPANNAzPoS0fG3Xr2iUvo2NLR9S3DwDDbgDhHVw+bsSmDKxX1KjYdtGlHApbRxnHw">
{% csrf_token %}
<div class="row">
{% if feedback %}
    <div data-form-alert="" class="alert alert-success col-12">Ваше сообщение успешно отправлено!</div>
{% endif %}
 {% if form.errors.custom %}
    <div class="alert alert-warning col-12 rounded p-0 m-0">
        <span class="mbr-fonts-style display-4 text-light p-0 m-0">{{ form.errors.custom }}</span>
    </div>
 {% endif %}
</div>
<div class="dragArea row">
<div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="name">
{#<input type="text" name="name" placeholder="Ваше имя" data-form-field="name" class="form-control display-7" value="" id="name-map02-d">#}
    {{ form.firstname }}
    {% if form.firstname.errors %}
        <div class="alert alert-warning col-12 rounded p-0 m-0">
            <span class="mbr-fonts-style subtext display-4 text-light p-0 m-0">{{ form.firstname.errors }}</span>
        </div>
    {% endif %}
</div>
<div class="col form-group " data-for="contact" style="">
{#<input type="text" name="contact" placeholder="Ваш телефон или e-mail" data-form-field="contact" class="form-control display-7" required="required" value="" id="contact-map02-d">#}
    {{ form.contact }}
    {% if form.contact.errors %}
        <div class="alert alert-warning col-12 rounded p-0 m-0">
            <span class="mbr-fonts-style subtext display-4 text-light p-0 m-0">{{ form.contact.errors }}</span>
        </div>
    {% endif %}
</div>
<div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="message">
{#<textarea name="message" placeholder="Ваш вопрос или сообщение" data-form-field="message" class="form-control display-7" required="required" id="message-map02-d"></textarea>#}
    {{ form.message }}
    {% if form.message.errors %}
        <div class="alert alert-warning col-12 rounded p-0 m-0">
            <span class="mbr-fonts-style subtext display-4 text-light p-0 m-0">{{ form.message.errors }}</span>
        </div>
    {% endif %}
</div>
    <p class="mbr-text mbr-regular align-left mbr-fonts-style text-small display-4">Внимание! Введёные Вами персональные данные никуда не передаются и используются только для обратной связи.</p>
<div class="col-12 input-group-btn mbr-section-btn"><button type="submit" class="btn btn-form btn-success display-4">Отправить вопрос</button></div>
</div>
</form><!--Formbuilder Form-->
</div>

            </div>

            <div class="card col-lg-6 col-md-12 col-sm-12">
                <h3 class="mbr-section-title mbr-bold align-left mbr-fonts-style display-2"><span>КОНТАКТЫ</span></h3>
                
                <p class="mbr-text mbr-regular align-left mbr-fonts-style display-4">Остались вопросы? Звоните, пишите на почту или заполните форму и мы свяжемся с Вами.</p>
<!--                 <h3 class="mbr-text mbr-bold mbr-fonts-style group-title mt-4" mbr-theme-style="display-7" data-app-selector=".card .group-title" mbr-if="showTitle">w</h3> -->
                <div class="items mbr-white">
                    
                    
                    
                <div class="list-item">
                        <span class="mbr-iconfont listico mbri-letter" style="color: rgb(255, 78, 60); fill: rgb(255, 78, 60);"></span>
                        <h5 class="mbr-fonts-style text2 display-4"><a href="mailto:{{ settings.contact_mail }}" target="_blank">
                            <strong>{{ settings.contact_mail }}</strong></a></h5>
                    </div><div class="list-item">
                        <span class="mbr-iconfont listico mbri-tablet-vertical" style="color: rgb(255, 78, 60); fill: rgb(255, 78, 60);"></span>
                        <h5 class="mbr-fonts-style text2 display-4"><a href="tel:{{ settings.contact_phone }}" target="_blank">
                            <strong>{{ settings.contact_phone }}</strong></a></h5>
                    </div></div>
                
                <div class="social-list py-4" id="feedback-label">
                    {% if settings.soc_igm %}
                        <div class="soc-item">
                            <a href="{{ settings.soc_igm }}" target="_blank">
                                <div class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon" style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255);" media-simple="true"></div>
                            </a>
                        </div>
                    {% endif %}
                    {% if settings.soc_tm %}
                        <div class="soc-item">
                            <a href="{{ settings.soc_tm }}" target="_blank">
                                <div class="mbr-iconfont mbr-iconfont-social socicon-telegram socicon" style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255);" media-simple="true"></div>
                            </a>
                        </div>
                    {% endif %}
                    {% if settings.soc_wa and user is not None %}
                        <div class="soc-item">
                            <a href="{{ settings.soc_wa }}" target="_blank">
                                <div class="mbr-iconfont mbr-iconfont-social socicon-whatsapp socicon" style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255);" media-simple="true"></div>
                            </a>
                        </div>
                    {% endif %}
                    
                    
                </div>

                

            </div>
        </div>
    </div>
</section>

{% include "includes/footer.html" %}

  <script src="/assets/web/assets/jquery/jquery.min.js"></script>
  <script src="/assets/popper/popper.min.js"></script>
  <script src="/assets/tether/tether.min.js"></script>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5"></script>
  <script src="https://apis.google.com/js/plusone.js"></script>
  <script src="/assets/facebook-plugin/facebook-script.js"></script>
  <script src="/assets/smoothscroll/smooth-scroll.js"></script>
  <script src="/assets/dropdown/js/nav-dropdown.js"></script>
  <script src="/assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="/assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="/assets/viewportchecker/jquery.viewportchecker.js"></script>
  <script src="/assets/parallax/jarallax.min.js"></script>
<script src="/assets/playervimeo/vimeo_player.js"></script>
  <script src="/assets/bootstrapcarouselswipe/bootstrap-carousel-swipe.js"></script>
  <script src="/assets/mbr-testimonials-slider/mbr-testimonials-slider.js"></script>
  <script src="/assets/countdown/jquery.countdown.min.js"></script>
  <script src="/assets/formstyler/jquery.formstyler.js"></script>
  <script src="/assets/formstyler/jquery.formstyler.min.js"></script>
  <script src="/assets/datepicker/jquery.datetimepicker.full.js"></script>
  <script src="/assets/theme/js/script.js"></script>
<script src="/assets/pauseVideo/script.js"></script>
{#  <script src="/assets/formoid.min.js"></script>#}
  <script src="/assets/functions.js"></script>

 <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
    <input name="animation" type="hidden">
  
</body>
